
{%- if article and article != empty -%}
	<div class="blog-item-info">
		{%- if show_image == true and article.image -%}
			<div class="blog-item-img">
				<a class="{% if settings.image_height != 'orignal' %} ratio ratio-{{ settings.image_height }} {% else %} ratio ratio-1x1 {% endif %}" href="{{ article.url }}">
					<img
						srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
								{%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
								{%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
								{%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
								{%- if article.image.src.width >= 940 -%}{{ article.image.src | image_url: width: 940 }} 940w,{%- endif -%}
								{%- if article.image.src.width >= 1066 -%}{{ article.image.src | image_url: width: 1066 }} 1066w,{%- endif -%}
								{%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
								{%- if article.image.src.width >= 1780 -%}{{ article.image.src | image_url: width: 1780 }} 1780w,{%- endif -%}
								{%- if article.image.src.width >= 2000 -%}{{ article.image.src | image_url: width: 2000 }} 2000w,{%- endif -%}
        						{{ article.image.src | image_url }} {{ article.image.src.width }}w"
						src="{{ article.image.src | image_url: width: 360 }}"
						sizes="sizes"
						alt="{{ article.image.src.alt | escape }}"
						class="img-fluid"
						loading="lazy"
						width="{{ article.image.width }}"
						height="{{ article.image.height }}"
					>
				</a>
			</div>
		{%- endif -%}
		<div class="blog-item-details">
			<div class="blog-item-meta">
				{%- if show_date -%}
					<span class="blog-item-date">{{ article.published_at | time_tag: format: 'date' }}</span>
				{%- endif -%}
				{%- if show_author -%}
					<span class="blog-item-author">{{ article.author }}</span>
				{%- endif -%}
			</div>
			{%- if tags -%}
				{%- if article.tags.size > 0 -%}
					<div class="blog-item-category">
						{%- for tag in article.tags -%}
							<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
						{%- endfor -%}
					</div>
				{%- endif -%}
			{%- endif -%}
			<h2 class="blog-item-name">
				<a href="{{ article.url }}" title="{{ article.title }}">{{ article.title | truncate: 100 | escape }}</a>
			</h2>
			{%- if settings.article_show_excerpt -%}
				{%- if article.excerpt.size > 0 or article.content.size > 0 -%}
					<div class="blog-item-description">
						<p>
							{%- if article.excerpt.size > 0 -%}
								{{ article.excerpt | strip_html | truncatewords: 100 }}
							{%- else -%}
								{{ article.content | strip_html | truncatewords: 100 }}
							{%- endif -%}
						</p>
					</div>
				{%- endif -%}
			{%- endif -%}
			<div class="blog-item-actions">
				{% assign featured_image = article.image | default: article.image %}
				{% if  settings.article_show_button %}
					<a class="action" href="{{ article.url }}">Read more</a>
				{%- endif -%}
				{%- if article.comments_count > 0 and blog.comments_enabled? -%}
					<a class="action" href="{{ article.url }}/#comments">{{ 'blogs.article.comments' | t: count: article.comments_count }}</a>
				{%- endif -%}
				<a class="action" title="Facebook" rel="nofollow" onclick="PopupCenter('https://www.facebook.com/sharer/sharer.php?u={{ request.origin | append: article.url }}','MyWindow','450','450');" href="javascript:void(0);">
					{% render 'icon', name: 'facebook-icon', class: 'w-14 h-14', size: 'custom' %}
				</a>
				<a class="action" title="Twitter" rel="nofollow" onclick="PopupCenter('//twitter.com/share?url={{ request.origin | append: article.url }}&text={{ article.title }}','MyWindow','450','450');" href="javascript:void(0);">
					{% render 'icon', name: 'twitter-icon', class: 'w-14 h-14', size: 'custom' %}
				</a>
				<a class="action" title="Pinterest" rel="nofollow" onclick="PopupCenter('//pinterest.com/pin/create/button/?url={{ request.origin | append: article.url }}&media={{ featured_image.src | image_url: width: 1024, height: 1024 }}','MyWindow','450','450');" href="javascript:void(0);">
					{% render 'icon', name: 'pinterest-icon', class: 'w-14 h-14', size: 'custom' %}
				</a>
				<a class="action" title="LinkedIn" rel="nofollow" onclick="PopupCenter('https://www.linkedin.com/sharing/share-offsite/?url={{ request.origin | append: article.url }}&text={{ article.title }}','MyWindow','450','450');" href="javascript:void(0);">
					{% render 'icon', name: 'linkedin-icon', class: 'w-14 h-14', size: 'custom' %}
				</a>
			</div>
		</div>
	</div>
{%- endif -%}