<div class="content-blog blog-grid">
  <div class="inner">
      <div class="thumbnail"> 
        <a href="{{ article.url }}">
          <img src="{{ article | img_url : '368X208', crop: 'center' }}" alt="{{ article.alt }}">
        </a>
          <div class="blog-category">
              <a href="{{ article.url }}">{{ article.user }}</a>
          </div>
      </div>
      <div class="content">
          <h5 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
          <div class="read-more-btn">
              <a class="axil-btn right-icon" href="{{ article.url }}">Read More <i class="fal fa-long-arrow-right"></i></a>
          </div>
      </div>
  </div>
</div>