

{% if paginate.pages > 1 %}
<div class="theme-default-pagination post-pagination">
  <nav class="navigation pagination">
    <div class="nav-links">
    <ul class="pagination page-numbers">
      {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}" aria-label="Previous" class="prev page-number">
         <i class="fal fa-arrow-left"></i> 
        </a>
      </li>
      {% else %}
      <li class="disabled prev">
        <a href="#" class="prev page-number">
          <i class="fal fa-arrow-left"></i>
        </a>
      </li>
      {% endif %}
      {% for part in paginate.parts %}
      {% if part.is_link %}
      <li>
        <a  class="page-number" href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
      {% else %}
      {% if part.title == paginate.current_page %}
      <li class="active"><a  class="page-number" href="">{{ part.title }}</a></li>
      {% else %}
      <li><a  class="page-number" href="#">{{ part.title }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if paginate.next %}
      <li><a  class="next page-number" href="{{ paginate.next.url }}" title="{{ paginate.next.title }}"><i class="fal fa-arrow-right"></i></a></li>
      {% else %}
      <li class="disabled next">
        <a href="#" class="next page-number">
          <i class="fal fa-arrow-right"></i>
        </a>
      </li>
      {% endif %}
      
    </ul>
  </div>
  </nav>
</div>
{% endif %}

<script>
  $(".theme-default-pagination .disabled a"). removeAttr("href");
  $(".theme-default-pagination li.active a"). removeAttr("href");
</script>