{% if section.settings.footer_top_enable %}
 <!-- Start Footer Top Area  -->
 <div class="footer-top separator-top">
    <div class="container">
        <div class="row">
            <!-- Start Single Widget  --> 
            {% for block in section.blocks %}
                {% case  block.type %} 
                {% when 'contact_about' %} 
                <div class="col-lg-{{ block.settings.footer_about_coloum }} col-md-{{ block.settings.footer_about_coloum_mobile }}" id="block-{{ block.id }}">
                        <div class="axil-footer-widget"> 
                            {% if block.settings.footer_about_title != '' %}
                                <h3 class="widget-title">{{ block.settings.footer_about_title }}</h3>
                            {% endif %} 
                            <div class="inner">
                                {% if block.settings.footer_about_title != '' %}
                                    <p>{{ block.settings.address_descrption }}</p>
                                {% endif %}
                                <ul class="support-list-item">
                                    {% if block.settings.about_email != '' %}
                                        <li><a href="mailto:{{ block.settings.about_email }}"><i class="fal fa-envelope-open"></i>{{ block.settings.about_email }}</a></li>
                                    {% endif %}
                                    {% if block.settings.about_phone != '' %}
                                        <li><a href="tel:{{ block.settings.about_phone }}"><i class="fal fa-phone-alt"></i>{{ block.settings.about_phone }}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget  --> 
                    {% when 'footer_menu' %}
                        <!-- Start Single Widget  -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="axil-footer-widget">
                                <h5 class="widget-title">Account</h5>
                                <div class="inner">
                                    <ul>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="sign-up.html">Login / Register</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="shop.html">Shop</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    <!-- End Single Widget  -->
                    {% when 'contact_information' %}    
                        <!-- Start Single Widget  -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="axil-footer-widget">
                                <h5 class="widget-title">Quick Link</h5>
                                <div class="inner">
                                    <ul>
                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="terms-of-service.html">Terms Of Use</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget  -->
                    {% when 'contact_information' %}    
                        <!-- Start Single Widget  -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="axil-footer-widget">
                                <h5 class="widget-title">Download App</h5>
                                <div class="inner">
                                    <span>Save $3 With App & New User only</span>
                                    <div class="download-btn-group">
                                        <div class="qr-code">
                                            <img src="assets/images/others/qr.png" alt="Axilthemes">
                                        </div>
                                        <div class="app-link">
                                            <a href="#">
                                                <img src="assets/images/others/app-store.png" alt="App Store">
                                            </a>
                                            <a href="#">
                                                <img src="assets/images/others/play-store.png" alt="Play Store">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget  --> 
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Footer Top Area  --> 
{% endif %}
