{% if settings.footer_bottom_enable %}
 <!-- Start Copyright Area  -->
 <div class="copyright-area copyright-default separator-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4"> 
            {% if settings.footer_social_enable %} 
                <div class="social-share"> 
                    {% if settings.social_icon_1 != '' %}
                        <a href="{{ settings.social_icon_1_url }}" class="social__link">
                            <i class="fab fa-{{ settings.social_icon_1 }}"></i>
                        </a>
                    {% endif %}
                    {% if settings.social_icon_2 != '' %}
                        <a href="{{ settings.social_icon_2_url }}" class="social__link">
                            <i class="fab fa-{{ settings.social_icon_2 }}"></i>
                        </a>
                    {% endif %}
                    {% if settings.social_icon_3 != '' %}
                        <a href="{{ settings.social_icon_3_url }}" class="social__link">
                            <i class="fab fa-{{ settings.social_icon_3 }}"></i>
                        </a>
                    {% endif %}
                    {% if settings.social_icon_4 != '' %}
                        <a href="{{ settings.social_icon_4_url }}" class="social__link">
                            <i class="fab fa-{{ settings.social_icon_4 }}"></i>
                        </a>
                    {% endif %}
                    {% if settings.social_icon_5 != '' %}
                        <a href="{{ settings.social_icon_5_url }}" class="social__link">
                            <i class="fab fa-{{ settings.social_icon_5 }}"></i>
                        </a>
                    {% endif %}  
                </div>  
            {% endif %}
            </div>
            <div class="col-xl-4 col-lg-12">
                {% if settings.copy_ritht_text != '' %}
                <div class="copyright-left d-flex flex-wrap justify-content-center">
                    <ul class="quick-link">
                        <li>{{ settings.copy_ritht_text }}</li>
                    </ul>
                </div>
            {% endif %}
            </div>
            <div class="col-xl-4 col-lg-12">
                {%- if settings.is_payment_icon -%}  
                <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                    {% if settings.payment_title != '' %}
                        <span class="card-text">{{ settings.payment_title }}</span>
                    {% endif %} 
                    <ul class="payment-icons-bottom quick-link">
                        {%- if settings.payment_icon_img1 -%}  
                        <li> <img
                            src="{{ settings.payment_icon_img1 | img_url: 'master' }}"
                            alt="{{ settings.payment_icon_img1.alt | default: shop.name }}"
                          ></li> 
                        {%- endif -%}
                        {%- if settings.payment_icon_img2 -%}  
                        <li> <img
                            src="{{ settings.payment_icon_img2 | img_url: 'master' }}"
                            alt="{{ settings.payment_icon_img2.alt | default: shop.name }}"
                          ></li> 
                        {%- endif -%}
                        {%- if settings.payment_icon_img3 -%}  
                        <li> <img
                            src="{{ settings.payment_icon_img3 | img_url: 'master' }}"
                            alt="{{ settings.payment_icon_img3.alt | default: shop.name }}"
                          ></li> 
                        {%- endif -%}
                        {%- if settings.payment_icon_img4 -%}  
                        <li> <img
                            src="{{ settings.payment_icon_img4 | img_url: 'master' }}"
                            alt="{{ settings.payment_icon_img4.alt | default: shop.name }}"
                          ></li> 
                        {%- endif -%}
                        {%- if settings.payment_icon_img5 -%}  
                        <li> <img
                            src="{{ settings.payment_icon_img5 | img_url: 'master' }}"
                            alt="{{ settings.payment_icon_img5.alt | default: shop.name }}"
                          ></li> 
                        {%- endif -%}

                    </ul>
                </div> 
            {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% endif %}