


    <!-- Start Footer Top Area  -->
    <div class="footer-top">
        <div class="container">
            <div class="footer-widget-warp">
                <div class="row">
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'newsletter' %}
                        <div class="col-lg-4">
                            <div class="axil-footer-widget footer-widget-newsletter">
                                <h4 class="widget-title">Stay Up To Date</h4>
                                <p>Subscribe to our newsletter and get <span>20% discount</span> offer in your first order</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Your Email">
                                    <button class="submit-btn" type="button">SUBSCRIBE</button>
                                </div>
                            </div>
                        </div>
                        {% when 'footer_menu' %}
                          <!-- Start Single Widget -->
                        <div class="col-lg-4 col-md-6">
                            <div class="axil-footer-widget widget-flex">
                              {% if block.settings.footer_menu_title != '' %}
                                <h6 class="widget-title">{{ block.settings.footer_menu_title }}</h6>
                              {% endif %}
                                <div class="inner">
                                  <ul class="widget-menu">
                                    {% assign footer_menu = block.settings.footer_menu_handle %}
                                    {% for link in linklists[footer_menu].links %}
                                      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                  </ul>
                              </div>
                            </div>
                        </div>
                        
                  {% endcase %}
                {% endfor %}
                </div>
            </div>
            <div class="footer-widget-warp">
                <div class="row">
                  {% for block in section.blocks %}
                    {% case block.type %} 
                    {% when 'footer_menu2' %}
                    <div class="col-lg-4 col-md-6">
                        <div class="axil-footer-widget widget-flex">
                          {% if block.settings.footer_menu_title != '' %}
                            <h6 class="widget-title">{{ block.settings.footer_menu_title }}</h6>
                          {% endif %}
                            <div class="inner">
                              <ul class="widget-menu">
                                {% assign footer_menu = block.settings.footer_menu_handle %}
                                {% for link in linklists[footer_menu].links %}
                                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                              </ul>
                          </div>
                        </div>
                    </div>
                    
                  {% endcase %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
 
