{% if section.settings.footer_bottom_enable %}
 <!-- Start Copyright Area  -->
 <div class="copyright-area copyright-default separator-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4"> 
                <div class="social-share">   
                        {% if section.settings.social_icon_1_name != '' %} 
                          <a href="{{ section.settings.socila_icon_1_link }}" class="social__link">
                            <i class="fa fa-{{ section.settings.social_icon_1_name }}"></i>
                          </a> 
                        {% endif %}
                        {% if section.settings.social_icon_2_name != '' %} 
                          <a href="{{ section.settings.socila_icon_2_link }}" class="social__link">
                            <i class="fa fa-{{ section.settings.social_icon_2_name }}"></i>
                          </a> 
                        {% endif %}
                        {% if section.settings.social_icon_3_name != '' %}
                          <a href="{{ section.settings.socila_icon_3_link }}" class="social__link">
                            <i class="fa fa-{{ section.settings.social_icon_3_name }}"></i>
                          </a>
                        {% endif %}
                        {% if section.settings.social_icon_4_name != '' %} 
                          <a href="{{ section.settings.socila_icon_4_link }}" class="social__link">
                            <i class="fa fa-{{ section.settings.social_icon_4_name }}"></i>
                          </a>
                        {% endif %}
                        {% if section.settings.social_icon_5_name != '' %}  
                        <li class="social__item">
                          <a href="{{ section.settings.socila_icon_5_link }}" class="social__link">
                            <i class="fa fa-{{ section.settings.social_icon_5_name }}"></i>
                          </a>
                        {% endif %}
                </div>  
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="copyright-left d-flex flex-wrap justify-content-center">
                    <ul class="quick-link">
                        <li>© 2023. All rights reserved by <a target="_blank" href="https://axilthemes.com/">Axilthemes</a>.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                    <span class="card-text">Accept For</span>
                    <ul class="payment-icons-bottom quick-link">
                        <li><img src="assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
                        <li><img src="assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
                        <li><img src="assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}