
{%- capture data_slick_activation_content -%}
      data-slick='{
          {%- if section.settings.autoplay_true5 -%}
          "autoplay": true,
          "autoplaySpeed": {{ section.settings.autoplay_speed5 }},
          {%- endif -%} 
          "slidesToScroll": 1,
          "slidesToShow": 1, 
          "arrows": true,
          {% if settings.rtl_enable %} "rtl": true,{% endif %} 
          "infinite": true,
          "dots": false,   
          "nextArrow": "<button class=\"slide-arrow prev-arrow\"><i class=\"fal fa-long-arrow-left\"></i></button>", 
          "prevArrow": "<button class=\"slide-arrow next-arrow\"><i class=\"fal fa-long-arrow-right\"></i></button>"      
      }'
   {%- endcapture -%}
 

   <div id="section-{{ section.id }}"  class="header-top-campaign">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-10">
                <div class="axil-slick-slider header-campaign-activation axil-slick-arrow arrow-both-side header-campaign-arrow"  {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation_content }}>
                    {% if section.settings.campaign_text1 != '' %}
                      <div class="slick-slide">
                        <div class="campaign-content">
                           {{ section.settings.campaign_text1 }}
                        </div>
                      </div>
                    {% endif %}
                    {% if section.settings.campaign_text2 != '' %}
                      <div class="slick-slide">
                        <div class="campaign-content">
                           {{ section.settings.campaign_text2 }}
                        </div>
                      </div>
                    {% endif %}
                    {% if section.settings.campaign_text3 != '' %}
                      <div class="slick-slide">
                        <div class="campaign-content">
                           {{ section.settings.campaign_text3 }}
                        </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{%- style -%}
#section-{{ section.id }}
{
  {% if section.settings.top_campaign_bg5 %}
    background-image: url( {{ section.settings.campaign_bg5 | image_url: width: 1920, height: 40 }} );
  {% else %}
    background-image: url( {{ "campaign-bg3.png" | asset_url }} );
  {% endif %}
} 
{%- endstyle -%}