
{%- capture data_slick_activation_content -%}
      data-slick='{
          {%- if section.settings.autoplay_true -%}
          "autoplay": true,
          "autoplaySpeed": {{ section.settings.autoplay_speed }},
          {%- endif -%} 
          "slidesToScroll": 1,
          "slidesToShow": 1, 
          "arrows": true,
          {% if settings.rtl_enable %} "rtl": true,{% endif %} 
          "infinite": true,
          "dots": false,   
          "nextArrow": "<button class=\"slide-arrow prev-arrow\"><i class=\"fal fa-long-arrow-left\"></i></button>", 
          "prevArrow": "<button class=\"slide-arrow next-arrow\"><i class=\"fal fa-long-arrow-right\"></i></button>"      
      }'
   {%- endcapture -%}
 

   <div id="section-{{ section.id }}"  class="header-top-campaign">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-10">
                <div class="axil-slick-slider header-campaign-activation axil-slick-arrow arrow-both-side header-campaign-arrow"  {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation_content }}>
                  {% for block in section.blocks %}
                    {% case block.type %}
                      {% when 'campaign' %}   
                      <div class="slick-slide">
                        <div class="campaign-content">
                            <p>{{ block.settings.campaign_title | escape }} <a href="{{ block.settings.campaign_link_url | escape }} ">{{ block.settings.campaign_link_txt | escape }} </a></p>
                        </div>
                      </div>
                        {% endcase %}
                      {% endfor %}    
                </div>
            </div>
        </div>
    </div>
</div>

{%- style -%}
#section-{{ section.id }}
{
  {% if settings.top_campaign_bg %}
    background-image: url( {{ section.settings.campaign_bg | image_url: width: 1920, height: 40 }} );
  {% else %}
    background-image: url( {{ "campaign-bg3.png" | asset_url }} );
  {% endif %}
} 
{%- endstyle -%}