<nav class="mainmenu-nav">
    <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
        <div class="mobile-nav-brand"> 
            {% if section.settings.mobile_logo %}
                <a href="/" class="logo"> 
                <figure class="logo--transparency">
                    <img src="{{ section.settings.mobile_logo | img_url: '300x300' }}" alt="{{ section.settings.mobile_logo.alt | default: shop.name }}">
                </figure> 
                </a>
            {% else %}
                <a href="/" class="logo-text">
                {{ shop.name }}
                </a>
            {% endif %} 
        </div>
    
    <ul class="mainmenu nav-menu-list">

        {% assign main_menu_handle = section.settings.header_primary_menu %}

        {% for link in linklists[main_menu_handle].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
 
       

    </ul>
</nav>