{% if pagination.pages > 1 %}
  {% if section.settings.loading_style == "load_more" %}
    <input
      type="hidden"
      value="{{ pagination.next.url }}"
      data-next-url>
    <input
      type="hidden"
      value="{{ pagination.pages }}"
      data-total-pages>
    <input
      type="hidden"
      value="{{ pagination.current_page  }}"
      data-current-page>
    <div class="axiltheme-loadmore-btn-area text-center pt--30">
      <button class="axiltheme-loadmore-btn axil-btn btn-bg-lighter btn-load-more">
        <span class="axiltheme-loadmore-btn-text">Load More</span>
        <span class="axiltheme-loadmore-btn-icon">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </button>
    </div>
  {% elsif section.settings.loading_style == "pagination" %}
    <nav role="navigation" class="flex justify-center items-center my-8">
      {% if pagination.previous %}
        <a href="{{ pagination.previous.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium">Previous</a>
      {% endif %}

      {% if pagination.next %}
        <a href="{{ pagination.next.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium">Next</a>
      {% endif %}
    </nav>
  {% else %}
    {% if pagination.next %}
      <li class="infinite_next">
        <a href="{{ pagination.next.url }}" class="">Loading</a>
      </li>
    {% endif %}
  {% endif %}
{% endif %}