<div class="axil-product product-style-one has-color-pick has-gallery-image">
  <div class="thumbnail">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <img
          src="{{ product.featured_image | img_url: '300x300' }}"
          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
          alt="{{ item.title | escape }}"
          loading="lazy">
        {% if section.settings.hover_img == true %}
          <img
            decoding="async"
            class="hover-img"
            src="{{ product.images[1] | img_url: '300x300' }}"
            alt="{{ product.images[1].alt }}">
        {% endif %}
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
    </a>

    <div class="product-hover-action">
      <ul class="cart-action">
        <li class="wishlist">
          <a
            href="https://dev.axilthemes.com/themes/etrade/wishlist/"
            rel="nofollow"
            data-product-id="1087"
            data-title-after="Added to Wishlist"
            class="axil-wishlist-icon axil-add-to-wishlist"
            data-nonce="0e68b80f28"
            target="_blank"
            tabindex="0">
            <i class="wishlist-icon far fa-heart"></i>
            <i class="fas fa-spinner ajax-loading"></i>
          </a>
        </li>
        <li class="add-to-cart select-option">
          {% form 'product', product %}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}">
            <input type="submit" value="Add to Cart">
          {% endform %}
        </li>
        <li class="quickview">
          <a
            href="#"
            data-product_id="{{ product.id }}"
            title="QuickView"
            data-bs-toggle="modal"
            data-bs-target="#yith-quick-view-modal"
            onclick="quickview('{{ product | json }}')">
            <i class="far fa-eye"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="handler">{{ product }}</div>
  <div class="product-content">
    <div class="inner">
      <div class="product-rating">
        <div class="icon">
          <div
            class="star-rating"
            role="img"
            aria-label="Rated 5.00 out of 5">
            <span style="width:100%">Rated
              <strong class="rating">5.00</strong>
              out of 5</span>
          </div>
        </div>
        <span class="rating-number">
          <span>
            ( 1 )
          </span>
        </span>
      </div>
      <h5 class="title">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h5>

      <div class="product-price-variant">
        <div class="price">
          <span class="woocommerce-Price-amount amount">{{ product.price | money }}</span>
        </div>
      </div>


      <div class="variations_form wooc-archive-variation-wrapper" current-image="">
        <div class="color-variant-wrapper">
          <ul class="color-variant wooc-color">
            <li>
              <a
                class="wcvaswatchinput"
                data-o-src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/Controller-300x300.jpg"
                href="https://dev.axilthemes.com/themes/etrade/product/gaming-gp13-controller/?attribute_pa_colors=blossom-pink"
                tabindex="0">
                <span>
                  <span style="background:#aae6f8" class="color wooc-pa-color wooc-pa-color-blossom-pink"></span>
                </span>
              </a>
            </li>
            <li>
              <a
                class="wcvaswatchinput"
                data-o-src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/product-08-300x300.png"
                href="https://dev.axilthemes.com/themes/etrade/product/gaming-gp13-controller/?attribute_pa_colors=naples-yellow"
                tabindex="0">
                <span>
                  <span style="background:#5f8af7" class="color wooc-pa-color wooc-pa-color-naples-yellow"></span>
                </span>
              </a>
            </li>
            <li>
              <a
                class="wcvaswatchinput"
                data-o-src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/Controller-300x300.jpg"
                href="https://dev.axilthemes.com/themes/etrade/product/gaming-gp13-controller/?attribute_pa_colors=purple"
                tabindex="0">
                <span>
                  <span style="background:#59c3c0" class="color wooc-pa-color wooc-pa-color-purple"></span>
                </span>
              </a>
            </li>
            <li>
              <a
                class="wcvaswatchinput"
                data-o-src="https://dev.axilthemes.com/themes/etrade/wp-content/uploads/2023/02/product-08-300x300.png"
                href="https://dev.axilthemes.com/themes/etrade/product/gaming-gp13-controller/?attribute_pa_colors=spicy-mix"
                tabindex="0">
                <span>
                  <span style="background:#906145" class="color wooc-pa-color wooc-pa-color-spicy-mix"></span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>