<div class="axil-product product-style-six">
  <div class="thumbnail">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <img
          src="{{ product.featured_image | img_url: '300x300' }}"
          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
          alt="{{ item.title | escape }}"
          loading="lazy">
      {% else %}
        {{ 'image' | placeholder_svg_tag }}
      {% endif %}
    </a>
  </div>
  <div class="product-content">
    <div class="inner">

      <div class="product-price-variant">
        <div class="price">
          <span class="woocommerce-Price-amount amount">{{ product.price | money }}</span>
        </div>
      </div>

      <h5 class="title">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h5>

      <div class="product-hover-action">
        <ul class="cart-action">
          <li class="select-option">
            {% form 'product', product %}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}">
              <input type="submit" value="Add to Cart">
            {% endform %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>