{%- capture minJsString -%}{% if shop.metafields.scm_review_importer.shop_info_setting.minJs -%}.min{%- endif %}{%- endcapture -%}
<div class="lai-popup-container"></div>
<script>
  var scmCustomData = (typeof scmCustomData == "undefined" || scmCustomData == null) ? `{}` : scmCustomData;
  var dataShopFromLiquidLAI = (typeof dataShopFromLiquidLAI == "undefined" || dataShopFromLiquidLAI == null) ? `{}` : dataShopFromLiquidLAI;
  dataShopFromLiquidLAI= {
    "infoShop" : '{{ shop.metafields.scm_review_importer.shop_info_setting | json}}',
    "shopDomain" : '{{ shop.domain }}',
    "shopName" : '{{ shop.permanent_domain | remove: ".myshopify.com"}}',
    "templatePage" : '{{ template | split: '.' | first }}',
    "productMainId" : '{{ product.id }}',
    "tabReviews": '{{ shop.metafields.scm_review_importer.reviews_highlightProductPage }}',
    "scmCustomData" : JSON.stringify(scmCustomData),
    "scmAccount" : {
      "email" : "{{customer.email}}",
      "name"  : "{{customer.name}}",
      "order" : "{{ customer.orders.size }}"
    }
  }
  var laiScriptTagGlobal = (typeof laiScriptTagGlobal == "undefined" || laiScriptTagGlobal == null) ?
    {
      "url" : "{{ shop.metafields.scm_review_importer.shop_info_setting.host }}/js/frontend/version-13/reviews-scripttag{{ minJsString }}.js?version={{ shop.metafields.scm_review_importer.shop_info_setting['version'] }}"
    }
    : laiScriptTagGlobal;
</script>
<script>
  var blockReviewPop= (typeof blockReviewPop == "undefined" || blockReviewPop == null) ? `{{ shop.metafields.scm_review_importer.review_pop }}` : blockReviewPop;
</script>
<div
	id="scm-reviews-shopSetting"
	data-shop='{{ shop.metafields.scm_review_importer.shop_info_setting | json}}'
	data-qa-setting='{{ shop.metafields.scm_review_importer.qaSetting | json }}'
></div>
{%- if content_for_header contains 'd1bu6z2uxfnay3.cloudfront.net' -%}
  <script src="{{ 'reviews-importer.js' | asset_url }}" async></script>
{% endif %}
