<div class="col-xl-9 col-lg-9 col-12">
  <div class="main-content">
    <header class="woocommerce-products-header"></header>
    <div class="woocommerce-notices-wrapper"></div>
    <div class="axil-shop-top">
      <div class="row">
        <div class="col-12 ">
          <div class="category-select align-items-center justify-content-end">
            <p class="woocommerce-result-count filter-results">
              Showing 1–<span class="wc-last-result-count">18</span>
              of 106 results</p>
            <div class="sort-list">
              <form class="woocommerce-ordering" method="get">
                <select
                  name="orderby"
                  class="orderby"
                  aria-label="Shop order">
                  <option value="menu_order" selected="selected">Default sorting</option>
                  <option value="popularity">Sort by popularity</option>
                  <option value="rating">Sort by average rating</option>
                  <option value="date">Sort by latest</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
                </select>
                <input
                  type="hidden"
                  name="paged"
                  value="1">
              </form>
            </div>
          </div>
          <div class="d-lg-none">
            <button class="product-filter-mobile filter-toggle">
              <i class="fas fa-filter"></i>
              FILTER
            </button>
          </div>
        </div>
      </div>
    </div>
    {% paginate collections['all'].products by 6 %}
      <div class="products axiltheme-archive-products row--15 row axiltheme-loadmore-wrapper">
        {% for product in collections['all'].products %}
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 product type-product post-1206 status-publish first instock product_cat-cleaner product_cat-kids product_cat-multipurpose product_tag-keyboard product_tag-mouse has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
            {% comment %} <div class="axil-product product-style-one">
            <div class="thumbnail">
            <a href="{{ product.url }}">
            {% if product.featured_image %}
            <img
            src="{{ product.featured_image | img_url: '300x300' }}"
            class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
            alt="{{ product.title | escape }}"
            loading="lazy">
            {% else %}
            {{ 'image' | placeholder_svg_tag }}
            {% endif %}
            </a>
            <div class="label-block label-right">
            <div class="product-badget">34% OFF</div>
            </div>

            <div class="product-hover-action">
            <ul class="cart-action">
            <li class="wishlist">
            <a
            href="https://dev.axilthemes.com/themes/etrade/wishlist/"
            rel="nofollow"
            data-product-id="1206"
            data-title-after="Added to Wishlist"
            class="axil-wishlist-icon axil-add-to-wishlist"
            data-nonce="0a331db5b1"
            target="_blank">
            <i class="wishlist-icon far fa-heart"></i>
            <i class="fas fa-spinner ajax-loading"></i>
            </a>
            </li>
            <li class="add-to-cart select-option">
            {% form 'product', product %}
            <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}">
            <input type="submit" value="Add to Cart">
            {% endform %}
            </a>
            </li>
            <li class="quickview">
            <a
            href="#"
            class="yith-wcqv-button"
            data-product_id="1206"
            title="QuickView">
            <i class="far fa-eye"></i>
            </a>
            </li>
            </ul>
            </div>
            </div>
            <div class="product-content">
            <div class="inner">
            <h5 class="title">
            <a href="{{ product.url }}">{{ product.title }}</a>
            </h5>

            <div class="product-price-variant">
            <div class="price">
            <span class="woocommerce-Price-amount amount">{{ product.price | money }}</span>
            </div>
            </div>


            </div>
            </div>
            </div> {% endcomment %}
            {% assign layout = 'product-layout-' | append: product_layout %}
            {% capture include_snippet %}
              {% include layout %}
            {% endcapture %}
            {{ include_snippet }}
          </div>
        {% endfor %}
      </div>
      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
    {% comment %} <div
    class="axiltheme-loadmore-data"
    data-paged="1"
    data-max="12"
    data-nonce="7d3eb43c49"></div>
    <div class="axiltheme-loadmore-btn-area text-center pt--30">
    <button class="axiltheme-loadmore-btn axil-btn btn-bg-lighter btn-load-more">
    <span class="axiltheme-loadmore-btn-text" style="">Load More</span>
    <span class="axiltheme-loadmore-btn-icon" style="display: none;">
    <i class="fa fa-spinner fa-spin"></i>
    </span>
    </button>
    </div> {% endcomment %}
  </div>
</div>