<div class="col-12">
  <div class="main-content">
    {% comment %} <header class="woocommerce-products-header"></header>
    <div class="woocommerce-notices-wrapper"></div> {% endcomment %}

    <div class="product-grid-container" id="ProductGridContainer">
      {% paginate collection.products by section.settings.product_per_page %}
        <div class="axil-shop-top">
          <div class="row">
            <div class="col-lg-9">
              {% comment %} Default Filter {% endcomment %}
              {% if section.settings.filter_style == "default" %}
                <form class="filter-form">
                  {%- for filter in collection.filters -%}
                    <details class="filter-group">
                      <summary class="filter-group-summary">
                        <div>
                          <span>{{ filter.label }}</span>
            
                          {%- if filter.active_values.size > 0 -%}
                            <span>({{ filter.active_values.size }})</span>
                          {%- endif -%}
                        </div>
                      </summary>
            
                      <div class="filter-group-display">
                        <div class="filter-group-display__header">
                          <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>
            
                          {%- if filter.active_values.size > 0 -%}
                            <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
                          {%- endif -%}
                        </div>
            
                        {%- case filter.type -%}
                          {%- when 'boolean' or 'list' -%}
                          <ul class="filter-group-display__list">
                            {%- for filter_value in filter.values -%}
                              <li class="filter-group-display__list-item">
                                <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                                  <input
                                    type="checkbox"
                                    name="{{ filter_value.param_name }}"
                                    value="{{ filter_value.value }}"
                                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                                    {% if filter_value.active -%}checked{%- endif %}
                                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}>{{ filter_value.label }}</label>
                              </li>
                            {%- endfor -%}
                          </ul>
            
                          <div class="filter-group-display__submit">
                            <input type="submit" value="Apply">
                          </div>
                          {%- when 'price_range' -%}
                          <div class="filter-group-display__price-range">
                            <div class="filter-group-display__price-range-from">
                              <span>{{ cart.currency.symbol }}</span>
            
                              <input name="{{ filter.min_value.param_name }}"id="Filter-{{ filter.min_value.param_name }}"{% if filter.min_value.value -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{%- endif %}type="number"placeholder="0"min="0"max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
            
                              <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                            </div>
                            <div class="filter-group-display__price-range-to">
                              <span>{{ cart.currency.symbol }}</span>
            
                              <input name="{{ filter.max_value.param_name }}"id="Filter-{{ filter.max_value.param_name }}"{% if filter.max_value.value -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{%- endif %}type="number"placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"min="0"max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
            
                              <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                            </div>
                          </div>
            
                          <div class="filter-group-display__submit">
                            <input type="submit" value="Apply">
                          </div>
                        {%- endcase -%}
                      </div>
                    </details>
                  {%- endfor -%}
            
                  <div class="active-filters">
                    <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
            
                    {%- for filter in collection.filters -%}
                      {%- if filter.type == "price_range" -%}
                        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                          <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                            {%- assign min_value = filter.min_value.value | default: 0 -%}
                            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                            {{ min_value | money }} - {{ max_value | money }} X
                          </a>
                        {%- endif -%}
                      {%- else -%}
                        {%- for filter_value in filter.active_values -%}
                          <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                            {{ filter.label }}: {{ filter_value.label }} X
                          </a>
                        {%- endfor -%}
                      {%- endif- %}
                    {%- endfor -%}
                  </div>
                </form>
              {% else %}
                {% comment %} Facets filter {% endcomment %}
                {% render 'facets',
                  results: collection,
                  enable_filtering: true,
                  enable_sorting: true,
                  filter_type: 'horizontal',
                  paginate: paginate
                %}
                  
              {% endif %}
            </div>
            <div class="col-lg-3">
              <div class="category-select justify-content-lg-end">
                {% if section.settings.enable_sorting %}
                  <div class="toolbar-sorter sorter">
                    <facet-filters-form class="facets no-js-hidden">
                      <form class="facets-vertical-form" id="FacetSortForm">
                        <div class="sorting caption">
                          <div class="facet-filters__field">
                            <div class="select">
                              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                              <select
                                  name="sort_by"
                                  id="SortBy"
                                  aria-describedby="a11y-refresh-page-message"
                              >
                                {%- for option in collection.sort_options -%}
                                  <option
                                      value="{{ option.value | escape }}"
                                      {% if option.value == sort_by %}
                                        selected="selected"
                                      {% endif %}
                                  >
                                    {{ option.name | escape }}
                                  </option>
                                {%- endfor -%}
                              </select>
                            </div>
                          </div>
                          <noscript>
                            <button
                                type="submit"
                                class="facets__button-no-js button"
                            >
                              {{ 'products.facets.sort_button' | t }}
                            </button>
                          </noscript>
                        </div>
                      </form>
                    </facet-filters-form>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div id="product-grid" class="collection products axiltheme-archive-products  row--15 row axiltheme-loadmore-wrapper" data-id="{{ section.id }}">
          {% for product in collection.products %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 product type-product post-1206 status-publish first instock product_cat-cleaner product_cat-kids product_cat-multipurpose product_tag-keyboard product_tag-mouse has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">              
              {% if product_layout == "1" %}
                {% render 'product-layout-1', product: product %}
              {% elsif product_layout == "2" %}
                {% render 'product-layout-2', product: product %}
              {% elsif product_layout == "3" %}
                {% render 'product-layout-3', product: product %}
              {% elsif product_layout == "4" %}
                {% render 'product-layout-4', product: product %}
              {% elsif product_layout == "5" %}
                {% render 'product-layout-5', product: product %}
              {% elsif product_layout == "6" %}
                {% render 'product-layout-6', product: product %}
              {% elsif product_layout == "7" %}
                {% render 'product-layout-7', product: product %}
              {% else %}
                {% render 'product-layout-8', product: product %}
              {% endif %}
            </div>
          {% endfor %}
        </div>

        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    </div>
  </div>
</div>