<div class="col-12">
  <div class="main-content">
    <header class="woocommerce-products-header"></header>
    <div class="woocommerce-notices-wrapper"></div>
    <div class="axil-shop-top">
      <div class="row">
        <div class="col-lg-9">
          <div class="category-select">
            <div id="woocommerce_product_categories-3" class="widget woocommerce widget_product_categories">
              <h3 class="d-none axil-widget-title widget-title">Product categories</h3>
              <div class="axil-shop-widget-content">
                <select
                  name="product_cat"
                  id="product_cat"
                  class="dropdown_product_cat select2-hidden-accessible"
                  tabindex="-1"
                  aria-hidden="true">
                  <option value="" selected="selected">Select a category</option>
                  <option class="level-0" value="deals">Deals</option>
                  <option class="level-0" value="electronics">Electronics</option>
                  <option class="level-0" value="fashion">Fashion</option>
                  <option class="level-0" value="furniture">Furniture</option>
                  <option class="level-0" value="jewellery">Jewellery</option>
                  <option class="level-0" value="multipurpose">Multipurpose</option>
                  <option class="level-0" value="nft">Nft</option>
                </select>
                <span
                  class="select2 select2-container select2-container--default select2-container--focus"
                  dir="ltr"
                  style="width: 100%;">
                  <span class="selection">
                    <span
                      class="select2-selection select2-selection--single"
                      aria-haspopup="true"
                      aria-expanded="false"
                      tabindex="0"
                      aria-labelledby="select2-product_cat-container"
                      role="combobox">
                      <span
                        class="select2-selection__rendered"
                        id="select2-product_cat-container"
                        role="textbox"
                        aria-readonly="true">
                        <span class="select2-selection__placeholder">Select a category</span>
                      </span>
                      <span class="select2-selection__arrow" role="presentation">
                        <b role="presentation"></b>
                      </span>
                    </span>
                  </span>
                  <span class="dropdown-wrapper" aria-hidden="true"></span>
                </span>
              </div>
            </div>
            <div id="woocommerce_layered_nav-4" class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
              <h3 class="d-none axil-widget-title widget-title">Filter by Color</h3>
              <div class="axil-shop-widget-content">
                <form
                  method="get"
                  action="https://dev.axilthemes.com/themes/etrade/shop/"
                  class="woocommerce-widget-layered-nav-dropdown">
                  <select
                    class="woocommerce-widget-layered-nav-dropdown dropdown_layered_nav_colors select2-hidden-accessible"
                    tabindex="-1"
                    aria-hidden="true">
                    <option value="">Any Colors</option>
                    <option value="blossom-pink">Blossom Pink</option>
                    <option value="naples-yellow">Naples Yellow</option>
                    <option value="purple">Purple</option>
                    <option value="single-blue">Single Blue</option>
                    <option value="spicy-mix">Spicy Mix</option>
                    <option value="venetian-red">Venetian Red</option>
                  </select>
                  <span
                    class="select2 select2-container select2-container--default"
                    dir="ltr"
                    style="width: 100%;">
                    <span class="selection">
                      <span
                        class="select2-selection select2-selection--single"
                        aria-haspopup="true"
                        aria-expanded="false"
                        tabindex="0"
                        aria-labelledby="select2-18yu-container"
                        role="combobox">
                        <span
                          class="select2-selection__rendered"
                          id="select2-18yu-container"
                          role="textbox"
                          aria-readonly="true">
                          <span class="select2-selection__placeholder">Any Colors</span>
                        </span>
                        <span class="select2-selection__arrow" role="presentation">
                          <b role="presentation"></b>
                        </span>
                      </span>
                    </span>
                    <span class="dropdown-wrapper" aria-hidden="true"></span>
                  </span><input
                    type="hidden"
                    name="filter_colors"
                    value=""><input
                    type="hidden"
                    name="sidebar"
                    value="full"><input
                    type="hidden"
                    name="pagination"
                    value="numb"></form>
              </div>
            </div>
            <div id="woocommerce_layered_nav-5" class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
              <h3 class="d-none axil-widget-title widget-title">Filter by Size</h3>
              <div class="axil-shop-widget-content">
                <form
                  method="get"
                  action="https://dev.axilthemes.com/themes/etrade/shop/"
                  class="woocommerce-widget-layered-nav-dropdown">
                  <select
                    class="woocommerce-widget-layered-nav-dropdown dropdown_layered_nav_size select2-hidden-accessible"
                    tabindex="-1"
                    aria-hidden="true">
                    <option value="">Any Size</option>
                    <option value="s">S</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xs">XS</option>
                    <option value="xl">XL</option>
                    <option value="xxl">XXL</option>
                    <option value="3xl">3XL</option>
                    <option value="4xl">4XL</option>
                  </select>
                  <span
                    class="select2 select2-container select2-container--default"
                    dir="ltr"
                    style="width: 100%;">
                    <span class="selection">
                      <span
                        class="select2-selection select2-selection--single"
                        aria-haspopup="true"
                        aria-expanded="false"
                        tabindex="0"
                        aria-labelledby="select2-fcof-container"
                        role="combobox">
                        <span
                          class="select2-selection__rendered"
                          id="select2-fcof-container"
                          role="textbox"
                          aria-readonly="true">
                          <span class="select2-selection__placeholder">Any Size</span>
                        </span>
                        <span class="select2-selection__arrow" role="presentation">
                          <b role="presentation"></b>
                        </span>
                      </span>
                    </span>
                    <span class="dropdown-wrapper" aria-hidden="true"></span>
                  </span><input
                    type="hidden"
                    name="filter_size"
                    value=""><input
                    type="hidden"
                    name="sidebar"
                    value="full"><input
                    type="hidden"
                    name="pagination"
                    value="numb"></form>
              </div>
            </div>
            <div id="woocommerce_price_filter-5" class="widget woocommerce widget_price_filter">
              <h3 class="d-none axil-widget-title widget-title">Filter by price</h3>
              <div class="axil-shop-widget-content">
                <form method="get" action="https://dev.axilthemes.com/themes/etrade/shop/">
                  <div class="price_slider_wrapper">
                    <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" style="">
                      <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                      <span
                        tabindex="0"
                        class="ui-slider-handle ui-corner-all ui-state-default"
                        style="left: 0%;"></span>
                      <span
                        tabindex="0"
                        class="ui-slider-handle ui-corner-all ui-state-default"
                        style="left: 100%;"></span>
                    </div>
                    <div class="price_slider_amount" data-step="10">
                      <label class="screen-reader-text" for="min_price">Min price</label>
                      <input
                        type="text"
                        id="min_price"
                        name="min_price"
                        value="10"
                        data-min="10"
                        placeholder="Min price"
                        style="display: none;">
                      <label class="screen-reader-text" for="max_price">Max price</label>
                      <input
                        type="text"
                        id="max_price"
                        name="max_price"
                        value="700"
                        data-max="700"
                        placeholder="Max price"
                        style="display: none;">
                      <button type="submit" class="button">Filter</button>
                      <div class="price_label" style="">
                        Price:
                        <span class="from">$10</span>
                        —
                        <span class="to">$700</span>
                      </div>
                      <input
                        type="hidden"
                        name="sidebar"
                        value="full"><input
                        type="hidden"
                        name="pagination"
                        value="numb">
                      <div class="clear"></div>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="category-select justify-content-lg-end">
            <div class="sort-list">
              <form class="woocommerce-ordering" method="get">
                <select
                  name="orderby"
                  class="orderby"
                  aria-label="Shop order">
                  <option value="menu_order" selected="selected">Default sorting</option>
                  <option value="popularity">Sort by popularity</option>
                  <option value="rating">Sort by average rating</option>
                  <option value="date">Sort by latest</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
                </select>
                <input
                  type="hidden"
                  name="paged"
                  value="1">
                <input
                  type="hidden"
                  name="sidebar"
                  value="full"><input
                  type="hidden"
                  name="pagination"
                  value="numb"></form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% paginate collections['all'].products by 6 %}
    <div class="products axiltheme-archive-products  row--15 row axiltheme-loadmore-wrapper">
        {% for product in collections['all'].products %}
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 product type-product post-1206 status-publish first instock product_cat-cleaner product_cat-kids product_cat-multipurpose product_tag-keyboard product_tag-mouse has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
            <div class="axil-product product-style-one">
                <div class="thumbnail">
                  <a href="{{ product.url }}">
                    {% if product.featured_image %}
                    <img
                      src="{{ product.featured_image | img_url: '300x300' }}"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt="{{ product.title | escape }}"
                      loading="lazy">
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                      </a>
                  <div class="label-block label-right">
                    <div class="product-badget">34% OFF</div>
                  </div>

                  <div class="product-hover-action">
                    <ul class="cart-action">
                      <li class="wishlist">
                        <a
                          href="https://dev.axilthemes.com/themes/etrade/wishlist/"
                          rel="nofollow"
                          data-product-id="1206"
                          data-title-after="Added to Wishlist"
                          class="axil-wishlist-icon axil-add-to-wishlist"
                          data-nonce="0a331db5b1"
                          target="_blank">
                          <i class="wishlist-icon far fa-heart"></i>
                          <i class="fas fa-spinner ajax-loading"></i>
                        </a>
                      </li>
                      <li class="add-to-cart select-option">
                        {% form 'product', product %}
                            <input
                              type="hidden"
                              name="id"
                              value="{{ product.selected_or_first_available_variant.id }}">
                            <input type="submit" value="Add to Cart">
                          {% endform %}
                        </a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          class="yith-wcqv-button"
                          data-product_id="1206"
                          title="QuickView">
                          <i class="far fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <h5 class="title">
                        <a href="{{ product.url }}">{{ product.title }}</a>
                    </h5>

                    <div class="product-price-variant">
                      <div class="price">
                        <span class="woocommerce-Price-amount amount">{{ product.price | money }}</span>
                      </div>
                    </div>


                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% comment %} <div class="nav-links">
      <ul class="clearfix page-numbers">
        <li class="pagi pagi-previous disabled">
          <span>
            <i class="fal fa-arrow-left"></i>
          </span>
        </li>
        <li class="active">
          <span>1</span>
        </li>
        <li>
          <a href="https://dev.axilthemes.com/themes/etrade/shop/page/2/?sidebar=full&amp;pagination=numb">2</a>
        </li>
        <li>
          <a href="https://dev.axilthemes.com/themes/etrade/shop/page/3/?sidebar=full&amp;pagination=numb">3</a>
        </li>
        <li class="dot">
          <span>...</span>
        </li>
        <li>
          <a href="https://dev.axilthemes.com/themes/etrade/shop/page/9/?sidebar=full&amp;pagination=numb">9</a>
        </li>
        <li class="pagi pagi-next">
          <a href="https://dev.axilthemes.com/themes/etrade/shop/page/2/?sidebar=full&amp;pagination=numb">
            <i class="fal fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div> {% endcomment %}
    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
  </div>
</div>