

{% comment %}
{% if article.tags.size > 0 %}
  <li>
    <span>{{ 'blogs.article.tags' | t }}:</span>
    {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag | join: ', ' }}</a>
    {% endfor %}
  </li>
{% endif %}
{% endcomment %}





{% if article.tags.size > 0 %}

<span>
  <i class="fa fa-tags"></i>
</span>
<span>
  {% for tag in article.tags %}
  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}


</span>

{% endif %}