      <!-- Start About Area  -->
    <div id="section-{{ section.id }}" class="advertisement-area">
      <div class="container"> 
          <div class="thumb">
            <a href="{{ section.settings.advertisement_img.advertisement_url }}">
            <img 
              width="{{ section.settings.advertisement_img.width }}"
              height="{{ section.settings.advertisement_img.height }}" 
              decoding="async"
              loading="lazy" 
              src="{{ section.settings.advertisement_img | image_url: width: section.settings.advertisement_img.width, height: section.settings.advertisement_img.height }}"
              alt="{{ section.settings.advertisement_img.alt }}"> 
          </a>
          </div>
    </div> 
  </div>
 
{%- style -%}

  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
   
    {%- endcase -%}
    {%- endfor -%}
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }

  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
 
{%- endstyle -%}
{% schema %}
{
  "name": "Advertisement Box",
  "settings": [
    {
      "type": "header",
      "content": "Advertisement"
    },  
    {
      "type": "image_picker",
      "id": "advertisement_img",
      "label": "Advertisement Image",
      "info": "Recommended Size: 1290 x 248px"
    },
    {
      "type": "url",
      "id": "advertisement_url",
      "label": "Advertisement URL"
    }
     
  ],

  "blocks": [ 
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,

      "settings": [
        {
        "type": "header",
        "content": "Large/Desktop Device"
        },
      {
        "type": "range",
        "id": "section_padding_top",
        "min": 0,
        "max": 150,
        "step": 5,
        "label": "Padding Top",
        "unit": "px",
        "default": 60
      },
      {
        "type": "range",
        "id": "section_padding_bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "label": "Padding Bottom",
        "unit": "px",
        "default": 60
      },
      {
        "type": "header",
        "content": "Tablet Device"
      },
      {
        "type": "range",
        "id": "section_padding_top_md",
        "min": 0,
        "max": 150,
        "step": 5,
        "label": "Padding Top",
        "unit": "px",
        "default": 45
      },
      {
        "type": "range",
        "id": "section_padding_bottom_md",
        "min": 0,
        "max": 150,
        "step": 5,
        "label": "Padding Bottom",
        "unit": "px",
        "default": 45
      },
      {
        "type": "header",
        "content": "Mobile Device"
      },
      {
        "type": "range",
        "id": "section_padding_top_xs",
        "min": 0,
        "max": 150,
        "step": 5,
        "label": "Padding Top",
        "unit": "px",
        "default": 45
      },
      {
        "type": "range",
        "id": "section_padding_bottom_xs",
        "min": 0,
        "max": 150,
        "step": 5,
        "label": "Padding Bottom",
        "unit": "px",
        "default": 45
      }
      ]
   },
   {
    "type": "section_margin",
    "name": "Section Margin",
  "limit": 1,
  "settings": [
      {
    "type": "header",
    "content": "Large/Desktop Device"
  },
  {
    "type": "range",
    "id": "section_margin_top",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Top",
    "unit": "px",
    "default": 0
  },
  {
    "type": "range",
    "id": "section_margin_bottom",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Bottom",
    "unit": "px",
    "default": 0
  },
  {
    "type": "header",
    "content": "Tablet Device"
  },
  {
    "type": "range",
    "id": "section_margin_top_md",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Top",
    "unit": "px",
    "default": 0
  },
  {
    "type": "range",
    "id": "section_margin_bottom_md",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Bottom",
    "unit": "px",
    "default": 0
  },
  {
    "type": "header",
    "content": "Mobile Device"
  },
  {
    "type": "range",
    "id": "section_margin_top_xs",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Top",
    "unit": "px",
    "default": 0
  },
  {
    "type": "range",
    "id": "section_margin_bottom_xs",
    "min": 0,
    "max": 150,
    "step": 5,
    "label": "Margin Bottom",
    "unit": "px",
    "default": 0
  }
 ]
}
  ],
  "presets": [
    {
      "name": "Advertisement Box"
    }
  ]
}
{% endschema %}