 
{%- capture data_slick_activation_content -%}
      data-slick='{
          {%- if section.settings.autoplay_true -%}
          "autoplay": true,
          "autoplaySpeed": {{ section.settings.autoplay_speed }},
          {%- endif -%} 
          "slidesToScroll": 1,
          "slidesToShow": 1, 
          "arrows": true,
          {% if settings.rtl_enable %} "rtl": true,{% endif %} 
          "infinite": true,
          "dots": false,   
          "nextArrow": "<button class=\"slide-arrow prev-arrow\"><i class=\"fal fa-long-arrow-left\"></i></button>", 
          "prevArrow": "<button class=\"slide-arrow next-arrow\"><i class=\"fal fa-long-arrow-right\"></i></button>"      
      }'
   {%- endcapture -%}
 

   <div id="section-{{ section.id }}"  class="header-top-campaign">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-10">
                <div class="axil-slick-slider header-campaign-activation axil-slick-arrow arrow-both-side header-campaign-arrow"  {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation_content }}>
                    <div class="slick-slide">
                        <div class="campaign-content">
                            <p>STUDENT NOW GET 10% OFF : <a href="#">GET OFFER</a></p>
                        </div>
                    </div>
                    <div class="slick-slide">
                        <div class="campaign-content">
                            <p>STUDENT NOW GET 10% OFF : <a href="#">GET OFFER</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%- style -%}
#section-{{ section.id }}
{
  {% if settings.top_campaign_bg %}
    background-image: url( {{ section.settings.campaign_bg | image_url: width: 1920, height: 40 }} );
  {% else %}
    background-image: url( {{ "campaign-bg3.png" | asset_url }} );
  {% endif %}
} 
{%- endstyle -%}

{% schema %}
{
  "settings": [
    {
      "type": "header",
      "content": "t:sections.campaign.name"
    },
    {
      "type": "checkbox",
      "id": "autoplay_true",
      "label": "t:sections.campaign.settings.autoplay_true.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "label": "t:sections.campaign.settings.autoplay_speed.label",
      "unit": "ms",
      "default": 5000
    },
    {
      "type": "image_picker",
      "id": "campaign_bg",
      "label": "t:sections.campaign.settings.campaign_bg.label"
    }
  ],
  "blocks": [
    {
      "type": "campaign",
      "name": "t:sections.campaign.blocks.campaign.name",
      "settings": [
        {
          "type": "text",
          "id": "campaign_title",
          "label": "t:sections.campaign.blocks.campaign.settings.title.label",
          "default": "STUDENT NOW GET 10% OFF :"
        },
        {
          "type": "text",
          "id": "campaign_link_txt",
          "label": "t:sections.campaign.blocks.campaign.settings.link_txt.label",
          "default": "GET OFFER"
        },
        {
          "type": "url",
          "id": "campaign_link_url",
          "label": "t:sections.campaign.blocks.campaign.settings.link_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.campaign.presets.name"
    }
  ]
}
{% endschema %}
 

 