<div class="axil-shop-area axil-section-gap bg-color-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="axil-shop-sidebar">
          <div class="d-lg-none">
            <button class="sidebar-close filter-close-btn">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div id="woocommerce_product_categories-2" class="toggle-list product-categories widget woocommerce widget_product_categories">
            <h6 class="title">Product categories</h6>
            <div class="shop-submenu">
              <ul class="product-categories">
                <li class="cat-item cat-item-141">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/deals/">Deals</a>
                </li>
                <li class="cat-item cat-item-71">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/electronics/">Electronics</a>
                </li>
                <li class="cat-item cat-item-20">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/fashion/">Fashion</a>
                </li>
                <li class="cat-item cat-item-48">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/furniture/">Furniture</a>
                </li>
                <li class="cat-item cat-item-59">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/jewellery/">Jewellery</a>
                </li>
                <li class="cat-item cat-item-21">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/multipurpose/">Multipurpose</a>
                </li>
                <li class="cat-item cat-item-85">
                  <a href="https://dev.axilthemes.com/themes/etrade/product-category/nft/">Nft</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="woocommerce_layered_nav-6" class="toggle-list product-categories widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
            <h6 class="title">Filter by Gender</h6>
            <div class="shop-submenu">
              <ul class="woocommerce-widget-layered-nav-list">
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_gender=man">Man</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_gender=woman">Woman</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="woocommerce_layered_nav-2" class="toggle-list product-categories widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
            <h6 class="title">Filter by Color</h6>
            <div class="shop-submenu">
              <ul class="woocommerce-widget-layered-nav-list">
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=blossom-pink">
                    <i style="background:#aae6f8;" class="wooc-pa-color wooc-pa-color-blossom-pink"></i>Blossom Pink</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=naples-yellow">
                    <i style="background:#5f8af7;" class="wooc-pa-color wooc-pa-color-naples-yellow"></i>Naples Yellow</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=purple">
                    <i style="background:#59c3c0;" class="wooc-pa-color wooc-pa-color-purple"></i>Purple</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=single-blue">
                    <i style="background:#243c5a;" class="wooc-pa-color wooc-pa-color-single-blue"></i>Single Blue</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=spicy-mix">
                    <i style="background:#906145;" class="wooc-pa-color wooc-pa-color-spicy-mix"></i>Spicy Mix</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_colors=venetian-red">
                    <i style="background:#e6735c;" class="wooc-pa-color wooc-pa-color-venetian-red"></i>Venetian Red</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="woocommerce_layered_nav-3" class="toggle-list product-categories widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
            <h6 class="title">Filter by Size</h6>
            <div class="shop-submenu">
              <ul class="woocommerce-widget-layered-nav-list">
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=s">S</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=m">M</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=l">L</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=xs">XS</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=xl">XL</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=xxl">XXL</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=3xl">3XL</a>
                </li>
                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                  <a rel="nofollow" href="https://dev.axilthemes.com/themes/etrade/shop/?filter_size=4xl">4XL</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="woocommerce_rating_filter-2" class="toggle-list product-categories widget woocommerce widget_rating_filter">
            <h6 class="title">Average rating</h6>
            <div class="shop-submenu">
              <ul>
                <li class="wc-layered-nav-rating">
                  <a href="https://dev.axilthemes.com/themes/etrade/shop/?rating_filter=5">
                    <span class="star-rating">
                      <span style="width:100%">Rated
                        <strong class="rating">5</strong>
                        out of 5</span>
                    </span>
                    (83)</a>
                </li>
                <li class="wc-layered-nav-rating">
                  <a href="https://dev.axilthemes.com/themes/etrade/shop/?rating_filter=4">
                    <span class="star-rating">
                      <span style="width:80%">Rated
                        <strong class="rating">4</strong>
                        out of 5</span>
                    </span>
                    (1)</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="woocommerce_price_filter-4" class="toggle-list product-categories widget woocommerce widget_price_filter">
            <h6 class="title">Filter by price</h6>
            <div class="shop-submenu">
              <form method="get" action="https://dev.axilthemes.com/themes/etrade/shop/">
                <div class="price_slider_wrapper">
                  <div class="price_slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" style="">
                    <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                    <span
                      tabindex="0"
                      class="ui-slider-handle ui-corner-all ui-state-default"
                      style="left: 0%;"></span>
                    <span
                      tabindex="0"
                      class="ui-slider-handle ui-corner-all ui-state-default"
                      style="left: 100%;"></span>
                  </div>
                  <div class="price_slider_amount" data-step="10">
                    <label class="screen-reader-text" for="min_price">Min price</label>
                    <input
                      type="text"
                      id="min_price"
                      name="min_price"
                      value="10"
                      data-min="10"
                      placeholder="Min price"
                      style="display: none;">
                    <label class="screen-reader-text" for="max_price">Max price</label>
                    <input
                      type="text"
                      id="max_price"
                      name="max_price"
                      value="700"
                      data-max="700"
                      placeholder="Max price"
                      style="display: none;">
                    <button type="submit" class="button">Filter</button>
                    <div class="price_label" style="">
                      Price:
                      <span class="from">$10</span>
                      —
                      <span class="to">$700</span>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-12">
        <div class="main-content">
          <header class="woocommerce-products-header"></header>
          <div class="woocommerce-notices-wrapper"></div>
          <div class="axil-shop-top">
            <div class="row">
              <div class="col-12 ">
                <div class="category-select align-items-center justify-content-end">
                  <p class="woocommerce-result-count filter-results">
                    Showing 1–<span class="wc-last-result-count">18</span>
                    of 106 results</p>
                  <div class="sort-list">
                    <form class="woocommerce-ordering" method="get">
                      <select
                        name="orderby"
                        class="orderby"
                        aria-label="Shop order">
                        <option value="menu_order" selected="selected">Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by latest</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                      </select>
                      <input
                        type="hidden"
                        name="paged"
                        value="1">
                    </form>
                  </div>
                </div>
                <div class="d-lg-none">
                  <button class="product-filter-mobile filter-toggle">
                    <i class="fas fa-filter"></i>
                    FILTER
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="products axiltheme-archive-products row--15 row axiltheme-loadmore-wrapper">
            {% for product in collection.products %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 product type-product post-1206 status-publish first instock product_cat-cleaner product_cat-kids product_cat-multipurpose product_tag-keyboard product_tag-mouse has-post-thumbnail sale taxable shipping-taxable purchasable product-type-simple">
              <div class="axil-product product-style-one  ">
                <div class="thumbnail">
                  <a href="{{ product.url }}">
                    {% if product.featured_image %}
                    <img
                      src="{{ product.featured_image | img_url: '300x300' }}"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt="{{ product.title | escape }}"
                      loading="lazy">
                      {% else %}
                        {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                      </a>
                  <div class="label-block label-right">
                    <div class="product-badget">34% OFF</div>
                  </div>

                  <div class="product-hover-action">
                    <ul class="cart-action">
                      <li class="wishlist">
                        <a
                          href="https://dev.axilthemes.com/themes/etrade/wishlist/"
                          rel="nofollow"
                          data-product-id="1206"
                          data-title-after="Added to Wishlist"
                          class="axil-wishlist-icon axil-add-to-wishlist"
                          data-nonce="0a331db5b1"
                          target="_blank">
                          <i class="wishlist-icon far fa-heart"></i>
                          <i class="fas fa-spinner ajax-loading"></i>
                        </a>
                      </li>
                      <li class="add-to-cart select-option">
                        {% form 'product', product %}
                            <input
                              type="hidden"
                              name="id"
                              value="{{ product.selected_or_first_available_variant.id }}">
                            <input type="submit" value="Add to Cart">
                          {% endform %}
                        </a>
                      </li>
                      <li class="quickview">
                        <a
                          href="#"
                          class="yith-wcqv-button"
                          data-product_id="1206"
                          title="QuickView">
                          <i class="far fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <div class="inner">
                    <h5 class="title">
                        <a href="{{ product.url }}">{{ product.title }}</a>
                    </h5>

                    <div class="product-price-variant">
                      <div class="price">
                        <span class="woocommerce-Price-amount amount">{{ product.price | money }}</span>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div
            class="axiltheme-loadmore-data"
            data-paged="1"
            data-max="12"
            data-nonce="7d3eb43c49"></div>
          <div class="axiltheme-loadmore-btn-area text-center pt--30">
            <button class="axiltheme-loadmore-btn axil-btn btn-bg-lighter btn-load-more">
              <span class="axiltheme-loadmore-btn-text" style="">Load More</span>
              <span class="axiltheme-loadmore-btn-icon" style="display: none;">
                <i class="fa fa-spinner fa-spin"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
    {
        "name": "Shop",
        "settings": [
            {
                "type": "select",
                "id": "shop_layout",
                "label": "Shop Layout",
                "options": [
                    {
                        "label": "Left Sidebar",
                        "value": "left"
                    }, {
                        "label": "Right Sidebar",
                        "value": "right"
                    }, {
                        "label": "No Sidebar",
                        "value": "no"
                    }
                ]
            }
        ]
    }
{% endschema %}