<div id="section-{{ section.id }}" class="axil-main-slider-area main-slider-style-2">
  <div class="container">
    <div class="slider-offset-left">
        <div class="row row--20">
            <div class="col-lg-9">
                <div class="slider-box-wrap">
                    <div class="slider-activation-one axil-slick-dots"> 
                    {% for block in section.blocks %}  
                    {% case block.type %}
                      {% when 'banner' %}
                        <div class="single-slide slick-slide">
                            <div class="main-slider-content"> 
                              {% if block.settings.subtitle != '' %}
                                  <span class="subtitle"><i class="fas fa-watch"></i> {{ block.settings.subtitle }}</span>
                              {% endif %} 
                                {% if block.settings.banner_title != '' %}
                                  <h1 class="title">{{ block.settings.banner_title }}</h1>
                                {% endif %} 
                                {% if block.settings.banner_btn_url %}  
                                  <div class="shop-btn">
                                    <a href="{{ block.settings.banner_btn_url }}" class="axil-btn">{{ block.settings.banner_btn_txt }} <i class="fal fa-long-arrow-right"></i></a>
                                  </div>   
                                {% endif %}   
                            </div>
                            <div class="main-slider-thumb">
                              <img src="{% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: '240x292' }}{% else %}http:\/\/via.placeholder.com\/240x292{% endif %}" alt="{{ block.settings.banner_img.alt }}"> 
                            </div>
                        </div>
                      {% endcase %} 
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="slider-product-box">
                    <div class="product-thumb">
                        <a href="single-product.html">
                          <img src="{% if section.settings.product_img %}{{ section.settings.product_img | img_url: '125x200' }}{% else %}http:\/\/via.placeholder.com\/125x200{% endif %}" alt="{{ block.settings.product_img.alt }}"> 
                        </a>
                    </div>
                    <h6 class="title"><a href="{{ section.settings.product_url }}">{{ section.settings.product_title }}</a></h6>
                    <span class="price">{{ section.settings.product_prices }}</span>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
 
{% schema %}
{
    "name": "Fashion Banner",
    "settings": [
          {
            "type": "header",
            "content": "Banner Right"
           
          },
          {
            "type": "text",
            "id": "product_title",
            "label": "Product Title",
            "default": "Yantiti Leather Bags"
          }, 
          {
            "type": "text",
            "id": "product_prices",
            "label": "Prices",
            "default": "$29.99"
          },
          {
            "type": "url",
            "id": "product_url",
            "label": "URL"
          },
          {
            "type": "image_picker",
            "id": "product_img",
            "label": "Product Image"
          }

    ],

    "blocks": [
      {
        "type": "banner",
        "name": {
          "en": "Slider Block"
        },
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": {
              "en": "Slider Sub Title"
            },
            "default": {
              "en": " Hot Deal In This Week"
            }
          },
          {
            "type": "text",
            "id": "banner_title",
            "label": {
              "en": "Title"
            },
            "default": {
              "en": "Smart Digital Watch"
            }
          },
          {
            "type": "text",
            "id": "banner_btn_txt",
            "label": "Button Text",
            "default": "Shop Now"
            
          },
          {
            "type": "url",
            "id": "banner_btn_url",
            "label": "URL"
          },
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner Image"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "category": "banner",
        "name": "Fashion Banner"
    }]
}
{% endschema %}
 
 