
<div class="wooc-mini-cart-container cart-dropdown">
  <div class="cart-content-wrap">
    <div class="cart-header">
      <h2 class="header-title">{{ section.settings.cart_title }}</h2>
      <button class="close cart-close sidebar-close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="cart-body-wrap">
      {% if cart.empty? %}
        <div class="return-to-shop text-center pt--80">
          <h5 class="woocommerce-mini-cart__empty-message">{{ section.settings.cart_notification }}</h5>
          <a href="{{ routes.all_products_collection_url }}" class="axil-btn checkout-btn">{{ section.settings.return_btn_txt }}</a>
        </div>
      {% else %}
        <form
          action="{{ routes.cart_url }}"
          method="POST"
          novalidate>
          <div class="cart-body">
            <ul class="cart-item-list woocommerce-mini-cart cart_list product_list_widget">
              {% for item in cart.items %}
                <li class="cart-item woocommerce-mini-cart-item mini_cart_item">
                  <div class="thumb-wrapper item-img">
                    {% if item.image %}
                      <img
                        src="{{ item.image | img_url: '100x100' }}"
                        alt="{{ item.title | escape }}"
                        loading="lazy">
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}

                    <div class="remove-wrapper">
                      <a href="{{ item.url_to_remove }}"class="close-btn remove remove_from_cart_button"aria-label="Remove this item">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                  </div>
                  <div class="item-content">
                    <h3 class="item-title">
                      {{ item.product.title | truncatewords: 4 }}
                    </h3>
                    <div class="pro-qty item-quantity"></div>
                    <div class="item-price">
                      <span class="quantity">{{ item.quantity }}
                        <i class="fas fa-times"></i>
                        <span class="woocommerce-Price-amount amount">{{ item.price | money }}</span>
                      </span>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="cart-footer">
            <div class="woocommerce-mini-cart__total total">
              <h3 class="cart-subtotal">
                <strong>Subtotal:</strong>
                <span class="woocommerce-Price-amount amount">{{ cart.total_price | money }}</span>
              </h3>
            </div>
            <p class="woocommerce-mini-cart__buttons buttons"></p>
            <div class="group-btn">
              <a href="{{ routes.cart_url }}" class="axil-btn btn-bg-primary viewcart-btn">{{ section.settings.view_cart_title }}</a>
              <button
                type="submit"
                name="checkout"
                class="axil-btn btn-bg-secondary checkout-btn">{{ section.settings.checkout_title }}</button>
            </div>
            <p></p>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</div>
<div class="wooc-overlay-cart"></div>

{%- liquid
      if page.metafields.custom.header_layout 
      assign header_style =  page.metafields.custom.header_layout.value 
    else 
      assign header_style =  settings.header_style  
    endif 
 -%}
 
{% render 'search-modal' %}
{% if header_style == 'header_style_1' %}
<header class="header axil-header header-style-1">
  {% comment %} {% render 'header-top' %} {% endcomment %}
  {% render 'header-top1' %}
  <!-- Start Mainmenu Area  -->
  <div id="axil-sticky-placeholder"></div>
  <div class="axil-mainmenu">
    <div class="container">
      <div class="header-navbar">
        <div class="header-brand">
          {% render 'header-logo' %}
        </div>
        <div class="header-main-nav">
          {% render 'main-menu1' %}
        </div>
        <div class="header-action">
          {% render 'header-right1' %}
        </div>
      </div>
    </div>
  </div>
</header>
{% elsif header_style == 'header_style_2' %}
<header class="header axil-header header-style-5">
  {% render 'header-top2' %} 
  <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
      <div class="container">
          <div class="header-navbar">
              <div class="header-brand">
                {% render 'header-logo' %}
              </div>
              <div class="header-main-nav">
                  {% render 'main-menu2' %}
              </div>
              <div class="header-action">
                {% render 'header-right2' %}
              </div>
          </div>
      </div>
  </div>
</header>
{% elsif header_style == 'header_style_3' %}
<header class="header axil-header header-style-2">
  {% render 'header-top3' %} 
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-2 col-sm-3 col-5">
                  <div class="header-brand">
                    {% render 'header-logo' %}
                  </div>
              </div>
              <div class="col-lg-10 col-sm-9 col-7">
                  <div class="header-top-dropdown dropdown-box-style">   
                    
                  {%- liquid
                       render 'header-search-box2'   
                       if section.settings.header_languages_enable  
                         render 'languages' 
                       endif 
                       if section.settings.header_currency_enable  
                         render 'currency' 
                       endif 
                  -%} 

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header Top Area  -->

  <!-- Start Mainmenu Area  -->
  <div class="axil-mainmenu aside-category-menu">
      <div class="container">
          <div class="header-navbar">
            {% if section.settings.header_cat_menu != "" %}  
            <div class="header-nav-department">
                  <aside class="header-department">
                      <button class="header-department-text department-title">
                          <span class="icon"><i class="fal fa-bars"></i></span>
                          <span class="text">Categories</span>
                      </button>
                      {% render 'categories-menu' %}
                  </aside>
              </div>
            {% endif %}  
              <div class="header-main-nav">
                  <!-- Start Mainmanu Nav -->
                  <nav class="mainmenu-nav">
                      <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                       {% render 'main-menu3' %}
                  </nav>
                  <!-- End Mainmanu Nav -->
              </div>
              <div class="header-action"> 
              {% render 'header-right3' %}
              </div>
          </div>
      </div>
  </div>
  <!-- End Mainmenu Area  -->
</header>

{% elsif header_style == 'header_style_4' %}
<header class="header axil-header header-style-4">
 {% render 'header-top4' %} 
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-4 col-12">
                  <div class="header-top-dropdown dropdown-box-style">
                    {%- liquid
                       if section.settings.header_languages_enable 
                       render 'languages'
                     endif
                     if section.settings.header_currency_enable 
                         render 'currency'
                     endif
                    -%}
                  </div>
              </div>
              <div class="col-md-4 col-5">
                  <div class="header-brand">
                    {% render 'header-logo' %}
                  </div>
              </div>
              <div class="col-md-4 col-7">
                  <div class="header-action">
                    {% render 'header-right4' %} 
                  </div>
              </div>
          </div>
      </div>
  </div> 
  {% render 'main-menu4' %} 
</header>
{% elsif header_style == 'header_style_5' %}

<header class="header axil-header header-style-7">
  {% render 'header-top5' %}
  <!-- Start Mainmenu Area  -->
  <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
      <div class="container-fluid">
          <div class="header-navbar">
              <div class="header-brand">
                {% render 'header-logo' %}
              </div>
              <div class="header-main-nav">
                {% render 'main-menu5' %}
              </div>
              <div class="header-action">
                {% render 'header-right5' %} 
              </div>
          </div>
      </div>
  </div>
  <!-- End Mainmenu Area -->
  {% render 'header-top-campaign' %}
</header>
{% endif %}  


{%- style -%}
.header-top-campaign
{
{% if section.settings.top_campaign_bg %}
  background-image: url( {{ section.settings.top_campaign_bg | image_url: width: 1920, height: 40 }} );
{% else %}
  background-image: url( {{ "campaign-bg2.png" | asset_url }} );
{% endif %}
}
.header-top-campaign .campaign-content p{
  color: {{ section.settings.header_top_txt_color }};
}

{%- endstyle -%}


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Header Top Enable"
    },
    {
      "type": "checkbox",
      "id": "header_top_enable",
      "label": "Header Top Enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Header Top Options"
    },
    {
      "type": "checkbox",
      "id": "header_languages_enable",
      "label": "Languages Enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "header_currency_enable",
      "label": "Currency Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "header_top_center",
      "label": "Header Top Cente ",
      "default": "CHRISTMAS SALE - 25% OFF <span>added at the checkout</span>"
    },
    {
      "type": "text",
      "id": "header_top_left",
      "label": "Header Top Left ",
      "default": "Free Shipping on Orders Over $150"
    },
    {
      "type": "checkbox",
      "id": "header_top_menu_enable",
      "label": "Top Menu Enable",
      "default": true
    },
    {
      "type": "link_list",
      "id": "header_top_right_menu",
      "label": "Header Top Right Menu"
    },
    {
      "type": "image_picker",
      "id": "top_campaign_bg",
      "label": "Top Background Image"
    },
    {
      "type": "header",
      "content": "Header Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Sticky Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_sticky",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Mobile Logo"
    },
    {
      "type": "image_picker",
      "id": "mobile_logo",
      "label": "Mobile Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 150
    },
    {
      "type": "link_list",
      "id": "header_primary_menu",
      "label": "Select Primary Menu"
    },
    {
      "type": "link_list",
      "id": "header_cat_menu",
      "label": "Categories Menu"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enable",
      "label": "Search Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search Placeholder",
      "default": "What are you looking for?"
    },
    {
      "type": "text",
      "id": "search_title",
      "label": "Search Title",
      "default": "Recent Product"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text",
      "default": "View All"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Wishlist"
    },
    {
      "type": "checkbox",
      "id": "wishlist_enable",
      "label": "Wishlist Icon Enable",
      "default": true
    },
    {
      "type": "header",
      "content": "Mini Cart"
    },
    {
      "type": "checkbox",
      "id": "mini_cart_enable",
      "label": "Mini Cart Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "cart_title",
      "label": "Cart Title",
      "default": "Cart review."
    },
    {
      "type": "text",
      "id": "cart_notification",
      "label": "Cart Notification",
      "default": "No products in the cart."
    },
    {
      "type": "text",
      "id": "return_btn_txt",
      "label": "Return Button Text",
      "default": "Return to shop"
    },
    {
      "type": "text",
      "id": "view_cart_title",
      "label": "View Cart Title",
      "default": "View Cart"
    },
    {
      "type": "text",
      "id": "checkout_title",
      "label": "Checkout Title",
      "default": "Checkout"
    },
    {
      "type": "header",
      "content": "Acount Icon"
    },
    {
      "type": "checkbox",
      "id": "acount_enable",
      "label": "Acount Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "acount_title",
      "label": "Acount Title",
      "default": "QUICKLINKS"
    },
    {
      "type": "link_list",
      "id": "acount_menu",
      "label": "Acount Menu"
    },
    {
      "type": "text",
      "id": "login_btn_txt",
      "label": "Login Text",
      "default": "Login"
    },
    {
      "type": "text",
      "id": "loginout_btn_txt",
      "label": "Login Out Text",
      "default": "Login Out"
    },
    {
      "type": "text",
      "id": "register_info_txt",
      "label": "Register Info Text",
      "default": "No account yet?"
    },
    {
      "type": "text",
      "id": "register_btn_txt",
      "label": "Register Text",
      "default": "REGISTER HERE."
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "header_top_txt_color",
      "label": "Header Top Text Color",
      "default": "#eeb2ff"
    },
    {
      "type": "color",
      "id": "header_bg_color_2",
      "label": "Header Sticky BG Color",
      "default": "#fff"
    }
  ]
}
{% endschema %}