
<div class="wooc-mini-cart-container cart-dropdown">
  <div class="cart-content-wrap">
    <div class="cart-header">
      <h2 class="header-title">{{ section.settings.cart_title }}</h2>
      <button class="close cart-close sidebar-close">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="cart-body-wrap">
      {% if cart.empty? %}
        <div class="return-to-shop text-center pt--80">
          <h5 class="woocommerce-mini-cart__empty-message">{{ section.settings.cart_notification }}</h5>
          <a href="{{ routes.all_products_collection_url }}" class="axil-btn checkout-btn">{{ section.settings.return_btn_txt }}</a>
        </div>
      {% else %}
        <form
          action="{{ routes.cart_url }}"
          method="POST"
          novalidate>
          <div class="cart-body">
            <ul class="cart-item-list woocommerce-mini-cart cart_list product_list_widget">
              {% for item in cart.items %}
                <li class="cart-item woocommerce-mini-cart-item mini_cart_item">
                  <div class="thumb-wrapper item-img">
                    {% if item.image %}
                      <img
                        src="{{ item.image | img_url: '100x100' }}"
                        alt="{{ item.title | escape }}"
                        loading="lazy">
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}

                    <div class="remove-wrapper">
                      <a href="{{ item.url_to_remove }}"class="close-btn remove remove_from_cart_button"aria-label="Remove this item">
                        <i class="fas fa-times"></i>
                      </a>
                    </div>
                  </div>
                  <div class="item-content">
                    <h3 class="item-title">
                      {{ item.product.title | truncatewords: 4 }}
                    </h3>
                    <div class="pro-qty item-quantity"></div>
                    <div class="item-price">
                      <span class="quantity">{{ item.quantity }}
                        <i class="fas fa-times"></i>
                        <span class="woocommerce-Price-amount amount">{{ item.price | money }}</span>
                      </span>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="cart-footer">
            <div class="woocommerce-mini-cart__total total">
              <h3 class="cart-subtotal">
                <strong>Subtotal:</strong>
                <span class="woocommerce-Price-amount amount">{{ cart.total_price | money }}</span>
              </h3>
            </div>
            <p class="woocommerce-mini-cart__buttons buttons"></p>
            <div class="group-btn">
              <a href="{{ routes.cart_url }}" class="axil-btn btn-bg-primary viewcart-btn">{{ section.settings.view_cart_title }}</a>
              <button
                type="submit"
                name="checkout"
                class="axil-btn btn-bg-secondary checkout-btn">{{ section.settings.checkout_title }}</button>
            </div>
            <p></p>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</div>
<div class="wooc-overlay-cart"></div>

{%- liquid
      if page.metafields.custom.header_layout 
      assign header_style =  page.metafields.custom.header_layout.value 
    else 
      assign header_style =  settings.header_style  
    endif 
 -%}
 
{% render 'search-modal' %}

{% if header_style == 'header_style_1' %}
<header class="header axil-header header-style-1">
  {% comment %} {% render 'header-top' %} {% endcomment %}
  {% render 'header-top1' %}
  <!-- Start Mainmenu Area  -->
  <div id="axil-sticky-placeholder"></div>
  <div class="axil-mainmenu">
    <div class="container">
      <div class="header-navbar">
        <div class="header-brand">
          {% render 'header-logo' %}
        </div>
        <div class="header-main-nav">
          {% render 'main-menu1' %}
        </div>
        <div class="header-action">
          {% render 'header-right1' %}
        </div>
      </div>
    </div>
  </div>
</header>
{% elsif header_style == 'header_style_2' %}
<header class="header axil-header header-style-5">
  {% render 'header-top2' %} 
  <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
      <div class="container">
          <div class="header-navbar">
              <div class="header-brand">
                {% render 'header-logo' %}
              </div>
              <div class="header-main-nav">
                  {% render 'main-menu2' %}
              </div>
              <div class="header-action">
                {% render 'header-right2' %}
              </div>
          </div>
      </div>
  </div>
</header>
{% elsif header_style == 'header_style_3' %}
<header class="header axil-header header-style-2">
  {% render 'header-top3' %} 
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-2 col-sm-3 col-5">
                  <div class="header-brand">
                    {% render 'header-logo' %}
                  </div>
              </div>
              <div class="col-lg-10 col-sm-9 col-7">
                  <div class="header-top-dropdown dropdown-box-style">   
                    
                  {%- liquid
                       render 'header-search-box2'   
                       if section.settings.header_languages_enable  
                         render 'languages' 
                       endif 
                       if section.settings.header_currency_enable  
                         render 'currency' 
                       endif 
                  -%} 

                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header Top Area  -->

  <!-- Start Mainmenu Area  -->
  <div class="axil-mainmenu aside-category-menu">
      <div class="container">
          <div class="header-navbar">
            {% if section.settings.header_cat_menu != "" %}  
            <div class="header-nav-department">
                  <aside class="header-department">
                      <button class="header-department-text department-title">
                          <span class="icon"><i class="fal fa-bars"></i></span>
                          <span class="text">Categories</span>
                      </button>
                      {% render 'categories-menu' %}
                  </aside>
              </div>
            {% endif %}  
              <div class="header-main-nav">
                  <!-- Start Mainmanu Nav -->
                  <nav class="mainmenu-nav">
                      <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                       {% render 'main-menu3' %}
                  </nav>
                  <!-- End Mainmanu Nav -->
              </div>
              <div class="header-action"> 
              {% render 'header-right3' %}
              </div>
          </div>
      </div>
  </div>
  <!-- End Mainmenu Area  -->
</header>
{% elsif header_style == 'header_style_4' %}
<header class="header axil-header header-style-4">
 {% render 'header-top4' %} 
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-4 col-12">
                  <div class="header-top-dropdown dropdown-box-style">
                    {%- liquid
                       if section.settings.header_languages_enable 
                       render 'languages'
                     endif
                     if section.settings.header_currency_enable 
                         render 'currency'
                     endif
                    -%}
                  </div>
              </div>
              <div class="col-md-4 col-5">
                  <div class="header-brand">
                    {% render 'header-logo' %}
                  </div>
              </div>
              <div class="col-md-4 col-7">
                  <div class="header-action">
                    {% render 'header-right4' %} 
                  </div>
              </div>
          </div>
      </div>
  </div> 
  {% render 'main-menu4' %} 
</header>
{% elsif header_style == 'header_style_5' %}
<header class="header axil-header header-style-7">
  {% render 'header-top5' %}
  <!-- Start Mainmenu Area  -->
  <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
      <div class="container-fluid">
          <div class="header-navbar">
              <div class="header-brand">
                {% render 'header-logo' %}
              </div>
              <div class="header-main-nav">
                {% render 'main-menu5' %}
              </div>
              <div class="header-action">
                {% render 'header-right5' %} 
              </div>
          </div>
      </div>
  </div>
  <!-- End Mainmenu Area --> 
  {% render 'header-top-campaign', header: section %}
</header>
{% endif %}  

{%- style -%}
.header-top-campaign
{
{% if settings.top_campaign_bg2 %}
  background-image: url( {{ settings.top_campaign_bg | image_url: width: 1920, height: 40 }} );
{% else %}
  background-image: url( {{ "campaign-bg2.png" | asset_url }} );
{% endif %}
}
.header-top-campaign .campaign-content p{
  color: {{ settings.header_top_txt_color }};
}
.header-style-5 .axil-header-top {
    background-color: {{ settings.top_bar_bg_color }};
}
.header-style-5 .header-top-link .quick-link li a {
  color: {{ settings.header_top_txt_color }};
}
.header-style-5 .header-top-dropdown .dropdown .dropdown-toggle {
  color: {{ settings.header_top_txt_color }};
}
.header-style-5 .header-top-link .quick-link li a:hover,
.header-style-5 .header-top-dropdown .dropdown .dropdown-toggle:hover {
  color: {{ settings.header_top_txt_hover_color }};
}


{%- endstyle -%}


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.campaign.name"
    },
    {
      "type": "checkbox",
      "id": "autoplay_true",
      "label": "t:sections.campaign.settings.autoplay_true.label",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "label": "t:sections.campaign.settings.autoplay_speed.label",
      "unit": "ms",
      "default": 5000
    },
    {
      "type": "image_picker",
      "id": "campaign_bg",
      "label": "t:sections.campaign.settings.campaign_bg.label"
    }
  ],
  "blocks": [
    {
      "type": "campaign",
      "name": "t:sections.campaign.blocks.campaign.name",
      "settings": [
        {
          "type": "text",
          "id": "campaign_title",
          "label": "t:sections.campaign.blocks.campaign.settings.title.label",
          "default": "STUDENT NOW GET 10% OFF :"
        },
        {
          "type": "text",
          "id": "campaign_link_txt",
          "label": "t:sections.campaign.blocks.campaign.settings.link_txt.label",
          "default": "GET OFFER"
        },
        {
          "type": "url",
          "id": "campaign_link_url",
          "label": "t:sections.campaign.blocks.campaign.settings.link_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.campaign.presets.name"
    }
  ]
}
{% endschema %}

