<div class="container">
  <div class="section-title-wrapper section-title-border">
    {% if section.settings.title != blank %}
      <h2 class="title">{{ section.settings.title }}<img
          width="32"
          height="33"
          src="{{ 'title-icon.png' | asset_url }}"
          class="attachment-full size-full wp-image-234"
          alt=""
          decoding="async"
          loading="lazy">
      </h2>
    {% endif %}

    {% if section.settings.btn-label != blank %}
      <div class="view-btn">
        <a
          class="title-view-link"
          href="{{ routes.all_products_collection_url }}"
          target="_self"
          rel="nofollow">{{ section.settings.btn-label }}</a>
      </div>
    {% endif %}

  </div>
  <div class="product-area pb--20">
    <div class="row">
      {% assign order_by = section.settings.order_by %}
      {% assign sort_by = section.settings.sort_by %}
      {% assign collection = section.settings.product_collection.products | sort: sort_by | order_by %}
      {% for product in collection limit: section.settings.number_of_products_to_show offset: section.settings.offset_product %}
        {% assign ex = 0 %}
        {% for ex_product in section.settings.excluded_products %}
          {% if product.id == ex_product.id %}
            {% assign ex = 1 %}
          {% endif %}
        {% endfor %}
        {% if ex == 0 %}
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
            {% assign layout = 'product-layout-' | append: section.settings.product_layout %}
            {% capture include_snippet %}
              {% include layout %}
            {% endcapture %}
            {{ include_snippet }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Product Collection",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "btn-label",
        "label": "View All Button Text"
      },
      {
        "type": "collection",
        "id": "product_collection",
        "label": "Collection"
      },
      {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 2
      }, {
        "type": "range",
        "id": "number_of_products_to_show",
        "min": 4,
        "max": 12,
        "step": 1,
        "default": 4,
        "label": "Number of products to show"
      }, {
        "type": "select",
        "id": "product_layout",
        "label": "Product Collection Layout",
        "options": [
          {
            "label": "Layout 1",
            "value": "1"
          },
          {
            "label": "Layout 2",
            "value": "2"
          },
          {
            "label": "Layout 3",
            "value": "3"
          },
          {
            "label": "Layout 4",
            "value": "4"
          }, {
            "label": "Layout 5",
            "value": "5"
          }, {
            "label": "Layout 6",
            "value": "6"
          }, {
            "label": "Layout 7",
            "value": "7"
          }, {
            "label": "Layout 8",
            "value": "8"
          }
        ]
      }, {
        "type": "product_list",
        "id": "excluded_products",
        "label": "Product To Exclude"
      }, {
        "type": "number",
        "id": "offset_product",
        "label": "Offset"
      }, {
        "type": "select",
        "id": "sort_by",
        "label": "Sort By",
        "options": [
          {
            "label": "Name",
            "value": "title"
          }, {
            "label": "Price",
            "value": "price"
          }, {
            "label": "Date",
            "value": "published_at"
          }
        ],
        "default": "title"
      }, {
        "type": "select",
        "id": "order_by",
        "label": "Order By",
        "options": [
          {
            "label": "Ascending Order",
            "value": ""
          }, {
            "label": "Descending Order",
            "value": "reverse"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Collection"
      }
    ]
  }
{% endschema %}