   <!-- Start Expolre Product Area  -->
   <div class="axil-new-arrivals-product-area fullwidth-container flash-sale-area section-gap-80-35">
    <div class="container ml--xxl-0">
     
      {% if section.settings.is_countdown == true %}
        {% assign is_coutdown_start = '<div class="d-md-flex align-items-end flash-sale-section axilcoutdown2">' %}
        {% assign is_coutdown_end = '</div>' %}
      {% else %}
        {% assign is_coutdown_start = '' %}
        {% assign is_coutdown_end = '' %}
      {% endif %}
  
      {% if section.settings.is_section_title == true %} 
        {{ is_coutdown_start }}
          <div class="section-title-wrapper">
            {% if section.settings.sub_title != blank %}  
            <span class="title-highlighter highlighter-primary">{{ section.settings.sub_title_icon }} {{ section.settings.sub_title }} </span>
          {% endif %} 
          {% if section.settings.title != blank %}  
              <h2 class="title">{{ section.settings.title }} </h2>
            {% endif %} 
          </div> 
            {% if section.settings.is_countdown == true %}
                <div data-time="{{ section.settings.end_time }}" class="sale-countdown countdown"></div>
            {% endif %} 
            {{ is_coutdown_end }} 
          {% endif %}
 
        <div class="recently-viwed-activation slick-layout-wrapper--15 axil-slick-angle angle-top-slide">
          {% for product in section.settings.product_collection.products limit: section.settings.number_of_products_to_show %}
            <div class="slick-single-layout">
              {% assign layout = 'product-layout-' | append: section.settings.product_layout %}
              {% capture include_snippet %}
                {% include layout %}
              {% endcapture %}
              {{ include_snippet }}
            </div>
          {% endfor %} 
        </div>
    </div>
</div>
<!-- End Expolre Product Area  -->

{% schema %}
{
  "name": "RS Product Carousel",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_section_title",
      "label": "Enable Section Title"
    },
    {
      "type": "select",
      "id": "title_layout",
      "label": "Title Layout",
      "options": [
        {
          "label": "Layout 1",
          "value": "style_1"
        },
        {
          "label": "Layout 2",
          "value": "style_2"
        }
       
      ]
    }, 
    {
      "type": "text",
      "id": "title",
      "default": "New Arrivals",
      "label": "Title",
      "info": "Ttile Layout 1 & 2"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Recently Viewed",
      "label": "Sub Title",
      "info": "Ttile Layout 2"
    },
    {
      "type": "checkbox",
      "id": "is_countdown",
      "label": "Disable Countdown",
      "info": "Ttile Layout 2"
    },
    {
      "type": "text",
      "id": "end_time",
      "label": "End date and time",
      "default": "2024-05-22",
      "info": "Format: yyyy-mm-dd",
      "info": "Ttile Layout 2"
    },
    
    {
      "type": "image_picker",
      "id": "title_icon",
      "label": "Title Icon",
      "info": "Recommended Size: 60 x 60px",
      "info": "Ttile Layout 1"
    },

    {
      "type": "collection",
      "id": "product_collection", 
      "label": "Collection"
    },
    
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Number of products to show"
    }, 
    {
      "type": "select",
      "id": "product_layout",
      "label": "Product Collection Layout",
      "options": [
        {
          "label": "Layout 1",
          "value": "1"
        },
        {
          "label": "Layout 2",
          "value": "2"
        },
        {
          "label": "Layout 3",
          "value": "3"
        },
        {
          "label": "Layout 4",
          "value": "4"
        }, {
          "label": "Layout 5",
          "value": "5"
        }, {
          "label": "Layout 6",
          "value": "6"
        }, {
          "label": "Layout 7",
          "value": "7"
        }, {
          "label": "Layout 8",
          "value": "8"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "RS Product Carousel"
    }
  ]
}
{% endschema %}