
{%- capture data_slick_activation -%}
      data-slick='{
          {%- if section.settings.autoplay_true -%}
          "autoplay": true,
          "autoplaySpeed": {{ section.settings.autoplay_speed }},
          {%- endif -%} 
          "slidesToScroll": 1,
          "slidesToShow": 1, 
          "arrows": true,
          {% if settings.rtl_enable %} "rtl": true,{% endif %} 
          "infinite": true,
          "dots": false,   
          "nextArrow": "<button class=\"slide-arrow prev-arrow\"><i class=\"fal fa-long-arrow-left\"></i></button>", 
          "prevArrow": "<button class=\"slide-arrow next-arrow\"><i class=\"fal fa-long-arrow-right\"></i></button>"      
      }'
   {%- endcapture -%}
 
<div class="axil-product-area bg-color-white axil-section-gapcommon">
  <div class="container">
    {% if section.settings.is_section_title %} 

      {% if section.settings.title_layout == 'style_1' %}
        <div class="section-title-border slider-section-title">
          {% if section.settings.title != blank %}
            <h2 class="title">{{ section.settings.title }} 
            {% if section.settings.title_icon %}  
            <img src="{{ section.settings.title_icon | img_url:  '60x60' }}"
              alt="{{ section.settings.title_icon.alt | default: shop.name }}"  decoding="async"
              loading="lazy">
            {% endif %}  
            </h2>
          {% endif %}
        </div>
        {% elsif section.settings.title_layout == 'style_2' %}
          {% if section.settings.is_countdown == true %}
            {% assign is_coutdown_start = '<div class="d-md-flex align-items-end flash-sale-section axilcoutdown2">' %}
            {% assign is_coutdown_end = '</div>' %}
          {% else %}
            {% assign is_coutdown_start = '' %}
            {% assign is_coutdown_end = '' %}
          {% endif %}
    
          {{ is_coutdown_start }}
            <div class="section-title-wrapper">
              {% if section.settings.sub_title != blank %}  
                <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i> {{ section.settings.sub_title }} </span>
              {% endif %}
              {% if section.settings.title != blank %}  
                <h2 class="title">{{ section.settings.title }} </h2>
              {% endif %}
            </div>
    
              {% if section.settings.is_countdown == true %}
                  <div data-time="{{ section.settings.end_time }}" class="sale-countdown countdown"></div>
              {% endif %}
              
              {{ is_coutdown_end }}
        {% endif %}   
      {% endif %}

      <div class="popular-product-activation axil-slick-slider slick-layout-wrapper slick-layout-wrapper--15 axil-slick-angle angle-top-slide"  {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation }}>
          {%- liquid 
            assign count = 1  
            assign totalitems = section.settings.list_per_slider
            assign loopcount = 0
           -%} 
              {% for product in section.settings.product_collection.products limit: section.settings.number_of_products_to_show %}                       
                {% assign loopcount = loopcount | plus: 1 %} 
                    {% if count == 1 %}
                      <div class="slick-single-layout">
                        <div class="row row-cols-xl-{{ section.settings.col_xl }} row-cols-lg-{{ section.settings.col_lg }} row-cols-sm-{{ section.settings.col_md }} row-cols-{{ section.settings.col_sm }}">  
                    {% endif %} 
                      <div class="col">
                        {% assign layout = 'product-layout-' | append: section.settings.product_layout %}
                        {% capture include_snippet %}
                          {% include layout %}
                        {% endcapture %}
                        {{ include_snippet }}
                    </div>  
                    {% if count == totalitems %}
                        </div></div> 
                      {% assign count = 1 %}  
                    {% elsif forloop.length  == loopcount %}
                        </div></div>
                      {% assign count = count | plus: 1 %} 
                    {% else %}
                        {% assign count = count | plus: 1 %}
                    {% endif %} 
                  {% endfor %} 
      </div>
  </div>
  {% if section.settings.isbutton_true == true %}
    <div class="row">
      <div class="col-lg-12 text-center mt--20 mt_sm--0">
        <a class="axil-btn btn-bg-lighter btn-load-more" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>					
      </div>
  </div>
{% endif %}

</div>
<!-- End Expolre Product Area  -->

{% schema %}
{
  "name": "MC Product Carousel",
  "settings": [
    {
      "type": "checkbox",
      "id": "is_section_title",
      "label": "Enable Section Title"
    },
    {
      "type": "select",
      "id": "title_layout",
      "label": "Title Layout",
      "options": [
        {
          "label": "Layout 1",
          "value": "style_1"
        },
        {
          "label": "Layout 2",
          "value": "style_2"
        }
       
      ]
    }, 
    {
      "type": "text",
      "id": "title",
      "default": "New Arrivals",
      "label": "Title",
      "info": "Ttile Layout 1 & 2"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Recently Viewed",
      "label": "Sub Title",
      "info": "Ttile Layout 2"
    },
    {
      "type": "checkbox",
      "id": "is_countdown",
      "label": "Disable Countdown",
      "info": "Ttile Layout 2"
    },
    {
      "type": "text",
      "id": "end_time",
      "label": "End date and time",
      "default": "2024-05-22",
      "info": "Format: yyyy-mm-dd",
      "info": "Ttile Layout 2"
    },
    
    {
      "type": "image_picker",
      "id": "title_icon",
      "label": "Title Icon",
      "info": "Recommended Size: 60 x 60px",
      "info": "Ttile Layout 1"
    },
    {
      "type": "collection",
      "id": "product_collection", 
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "list_per_slider",
      "min": 1,
      "max": 10,
      "step": 1,
      "default":4,
      "label": "Iteam Per Slider"
    }, 

    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Number of products to show"
    }, 
    {
      "type": "select",
      "id": "product_layout",
      "label": "Product Collection Layout",
      "options": [
        {
          "label": "Layout 1",
          "value": "1"
        },
        {
          "label": "Layout 2",
          "value": "2"
        },
        {
          "label": "Layout 3",
          "value": "3"
        },
        {
          "label": "Layout 4",
          "value": "4"
        }, {
          "label": "Layout 5",
          "value": "5"
        }, {
          "label": "Layout 6",
          "value": "6"
        }, {
          "label": "Layout 7",
          "value": "7"
        }, {
          "label": "Layout 8",
          "value": "8"
        }
      ]
    },

    {
      "type": "header",
      "content": "View All Button"
    },
    {
      "type": "checkbox",
      "id": "isbutton_true",
      "label": "button Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text",
      "default": "View All Deals"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "URL"
    },

    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "id": "autoplay_true",
      "label": "Autoplay Enable",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "label": "Autoplay Speed",
      "unit": "ms",
      "default": 5000
    },
    {
      "type": "header",
      "content": "Laptop/Desktop Device"
    },
    {
      "type": "range",
      "id": "col_lg",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Responsive Columns",
      "unit": "px",
      "default": 2
    },
    {
      "type": "header",
      "content": "Tablet Device"
    },
    {
      "type": "range",
      "id": "col_md",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Responsive Columns",
      "unit": "px",
      "default": 2
    },
    {
      "type": "header",
      "content": "Mobile Device"
    },
    {
      "type": "range",
      "id": "col_sm",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Responsive Columns",
      "unit": "px",
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "MC Product Carousel"
    }
  ]
}
{% endschema %}