
  <div class="axil-breadcrumb-area">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-8">
                  <div class="inner"> 
                  {%- if section.settings.enable_breadcrumbs -%}
              
                    {% unless template == 'index' %}
                      <nav class="" role="navigation" aria-label="breadcrumbs">
                        <ul class="breadcrumb-list axil-breadcrumb liststyle d-flex">
                      
                          <li class="item-home">
                            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
                          </li>
                          <li>
                            {% if template contains 'product' %}
                      
                            {% if collection %}
                            {% if collection.handle %}
                            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                            {{ collection.title | link_to: url }}
                            {% endif %}
                            {% endif %}
                      
                            <span>{{ product.title }}</span>
                      
                            {% elsif template contains 'collection' and collection.handle %}
                      
                      
                            {% if current_tags %}
                            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                            {{ collection.title | link_to: url }}
                      
                            <span>{{ current_tags | join: " + " }}</span>
                            {% else %}
                            <span>{{ collection.title }}</span>
                            {% endif %} 
                            {% elsif template == 'blog' %}
                      
                      
                            {% if current_tags %}
                            {{ blog.title | link_to: blog.url }}
                      
                            <span>{{ current_tags | join: " + " }}</span>
                            {% else %}
                            <span>{{ blog.title }}</span>
                            {% endif %}
                      
                            {% elsif template == 'article' %}
                      
                      
                            {{ blog.title | link_to: blog.url }}
                      
                            <span>{{ article.title }}</span>
                      
                            {% elsif template contains 'page' %}
                      
                      
                            <span>{{ page.title }}</span>
                      
                            {% else %}
                      
                      
                            <span>{{ page_title }}</span>
                      
                            {% endif %}
                          </li>
                        </ul>
                      </nav>
                    {% endunless %} 
                  {% endif %}
                  {% unless template == 'product' or template == 'article' %}
                      <h1 class="title page-title">
                          {% if section.settings.page_title_txt != '' %}
                              {{ page_title | split: '|' | first }}
                          {% else %}
                              {{ section.settings.page_title_txt }}
                          {% endif %}
                      </h1>
                    {% endunless %} 
                  </div>
              </div>
              {%- if section.settings.enable_banner_img -%} 
              <div class="col-lg-6 col-md-4">
                  <div class="inner">
                        <div class="bradcrumb-thumb"> 
                        <img src="{{ section.settings.banner_img | img_url: '126x120' }}"
                            alt="{{ section.settings.banner_img.alt | default: shop.name }}">
                        </div>
                    </div>
              </div>
            {% endif %}
          </div>
      </div>
  </div>


{% schema %}
{
  "name": "Section Page Title Banner",
  "settings": [
    {
      "type": "header",
      "content": "Section Title"
    }, 
    {
      "type": "checkbox",
      "id": "enable_breadcrumbs",
      "default": true,
      "label": "Display Breadcrumbs"
    },
    {
      "type": "text",
      "id": "page_title_txt",
      "label": "Page Title",
      "default": "Blog Posts"
    },
    {
      "type": "checkbox",
      "id": "enable_banner_img",
      "default": true,
      "label": "Display Banner Image"
    },
    {
        "type": "image_picker",
        "id": "banner_img",
        "label": "Banner Image" 
      }
  ],
  "presets": [
    {
      "name": "Section Page Title Banner"
    }
  ]
}
{% endschema %}
