<div class="product-collection-area bg-lighter axil-section-gapcommon">
  <div class="container">
    <div class="section-title-border">
      {% if section.settings.section_title != '' %}
        <h2 class="title">{{ section.settings.section_title | escape }}</h2>
      {% endif %}
      {% if section.settings.section_btn_txt != '' %}
        <div class="view-btn">
          <a href="{{ section.settings.section_btn_url | escape }}">{{ section.settings.section_btn_txt | escape }}</a>
        </div>
      {% endif %}
    </div>

      <div class="row">
        {% for block in section.blocks %}  
        {% case block.type %}
        {% when 'dealslg' %}

        <div class="col-xl-7">
          <div class="product-collection product-collection-two">
            <div class="collection-content"> 
              {% if block.settings.box_title != '' %}
                <h3 class="title">{{ block.settings.box_title }}</h3>
              {% endif %} 

              <div class="price-warp">
                {% if block.settings.prices_label != '' %} 
                  <span class="price-text">{{ block.settings.prices_label }}</span>
                {% endif %}  
                {% if block.settings.box_prices != '' %} 
                  <span class="price">{{ block.settings.box_prices }}</span>
                {% endif %} 
              </div> 
              {% if section.settings.section_btn_txt != '' %} 
                <div class="shop-btn">
                  <a href="{{ section.settings.block_btn_url | escape }}" class="axil-btn btn-bg-primary btn-size-md"
                    ><i class="far fa-shopping-cart"></i> {{ section.settings.block_btn_txt | escape }}</a
                  >
                </div> 
              {% endif %} 
              
            </div>
            {% if section.settings.box_img != '' %}   
            <div class="collection-thumbnail">
              <img
                src="{{ section.settings.box_img | img_url: '830x550' }}"
                alt="{{ section.settings.box_img.alt | default: shop.name }}">
  
            </div> 
          {% endif %} 
          </div>
        </div>
      {% endcase %} 
    {% endfor %}

      <div class="col-xl-5">
        <div class="row">
          <div class="col-md-6">
            <div class="product-collection-three">
              <div class="collection-content">
                <h6 class="title"><a href="shop.html">Ladies Short Sleeve Dress</a></h6>
                <div class="price-warp">
                  <span class="price-text">Starting From</span>
                  <span class="price">$30.00</span>
                </div>
              </div>
              <div class="collection-thumbnail">
                <img src="assets/images/product/collection_5.png" alt="Product">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-collection-three">
              <div class="collection-content">
                <h6 class="title"><a href="shop.html">Oil Soap Wood Home Cleaner</a></h6>
                <div class="price-warp">
                  <span class="price-text">Starting From</span>
                  <span class="price">$15.22</span>
                </div>
              </div>
              <div class="collection-thumbnail">
                <img src="assets/images/product/collection_6.png" alt="Product">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-collection-three">
              <div class="collection-content">
                <h6 class="title"><a href="shop.html">Large Pendant Light Ceiling </a></h6>
                <div class="price-warp">
                  <span class="price-text">Starting From</span>
                  <span class="price">$11.70</span>
                </div>
              </div>
              <div class="collection-thumbnail">
                <img src="assets/images/product/collection_7.png" alt="Product">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-collection-three">
              <div class="collection-content">
                <h6 class="title"><a href="shop.html">Iphone New Model</a></h6>
                <div class="price-warp">
                  <span class="price-text">Starting From</span>
                  <span class="price">$499.00</span>
                </div>
              </div>
              <div class="collection-thumbnail">
                <img src="assets/images/product/collection_8.png" alt="Product">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section Best Deals",
  "settings": [
    {
      "type": "header",
      "content": "Section Title"
    }, 
    {
      "type": "text",
      "id": "section_title",
      "default": "Today’s Best Deals 💥 ",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "section_btn_txt",
      "label": "Button Text",
      "default": "View All Deals"
    },
    {
      "type": "url",
      "id": "section_btn_url",
      "label": "URL"
    }
  ],

  "max_blocks": 5,
  "blocks": [
    {
      "type": "dealslg",
      "name": "Deals Block lg",
      "settings": [
        {
          "type": "text",
          "id": "box_title",
          "default": "Decorative Plant For Home",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "prices_label",
          "default": "Starting From",
          "label": "prices abel"
        },
        {
          "type": "text",
          "id": "box_prices",
          "default": "$35.00",
          "label": "Prices"
        },

        {
          "type": "image_picker",
          "id": "box_img",
          "label": "Box Image"
        },

        {
          "type": "text",
          "id": "block_btn_txt",
          "label": "Button Text",
          "default": "View All Deals"
        },
        {
          "type": "url",
          "id": "block_btn_url",
          "label": "URL"
        },
        {
          "type": "product",
          "id": "popup_product",
          "label": "Product-Handle"
        },
        {
          "type": "checkbox",
          "id": "plus_icon_active",
          "label": "Plus Icon Active",
          "default": false
        },
        {
          "type": "select",
          "id": "pos_x_type",
          "label": "Horizontal Position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "range",
          "id": "pos_x",
          "min": 0,
          "max": 400,
          "step": 4,
          "label": "Spacing",
          "unit": "px",
          "default": 4
        },
        {
          "type": "select",
          "id": "pos_y_type",
          "label": "Horizontal Position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        }, 
        {
          "type": "range",
          "id": "pos_y",
          "min": 0,
          "max": 400,
          "step": 4,
          "label": "Spacing",
          "unit": "px",
          "default": 4
        }
      ]
    },
    {
      "type": "dealssm",
      "name": "Deals Block SM",
      "settings": [
        {
          "type": "text",
          "id": "box_title",
          "default": "Decorative Plant For Home",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "prices_label",
          "default": "Starting From",
          "label": "prices label"
        },
        {
          "type": "text",
          "id": "box_prices",
          "default": "$35.00",
          "label": "Prices"
        },

        {
          "type": "image_picker",
          "id": "box_img",
          "label": "Box Image"
        },

        {
          "type": "text",
          "id": "section_btn_txt",
          "label": "Button Text",
          "default": "View All Deals"
        },
        {
          "type": "url",
          "id": "section_btn_url",
          "label": "URL"
        },
        {
          "type": "product",
          "id": "popup_product",
          "label": "Product-Handle"
        },
        {
          "type": "checkbox",
          "id": "plus_icon_active",
          "label": "Plus Icon Active",
          "default": false
        },
        {
          "type": "select",
          "id": "pos_x_type",
          "label": "Horizontal Position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "range",
          "id": "pos_x",
          "min": 0,
          "max": 400,
          "step": 4,
          "label": "Spacing",
          "unit": "px",
          "default": 4
        },
        {
          "type": "select",
          "id": "pos_y_type",
          "label": "Horizontal Position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        }, 
        {
          "type": "range",
          "id": "pos_y",
          "min": 0,
          "max": 400,
          "step": 4,
          "label": "Spacing",
          "unit": "px",
          "default": 4
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Section Best Deals",
     
      "blocks": [
        {
          "type": "dealslg"
        },
        {
          "type": "dealssm"
        }
      ]
    }
  ]
}
{% endschema %}
