
{%- capture data_slick_activation -%}
      data-slick='{
          {%- if section.settings.autoplay_true -%}
          "autoplay": true,
          "autoplaySpeed": {{ section.settings.autoplay_speed }},
          {%- endif -%} 
          "slidesToScroll": 1,
          "slidesToShow": {{ section.settings.product_column }}, 
          "arrows": true,
          {% if settings.rtl_enable %} "rtl": true,{% endif %} 
          "dots": false,   
          "nextArrow": "<button class=\"slide-arrow prev-arrow\"><i class=\"fal fa-long-arrow-left\"></i></button>", 
          "prevArrow": "<button class=\"slide-arrow next-arrow\"><i class=\"fal fa-long-arrow-right\"></i></button>",
            "responsive":[
                {"breakpoint":992, "settings": {"slidesToShow": {{ section.settings.product_column_lg }}} },
                {"breakpoint":768, "settings": {"slidesToShow": {{ section.settings.product_column_md }}} },
                {"breakpoint":480, "settings": {"slidesToShow": {{ section.settings.product_column_sm }}} }
              ]  
      }'
   {%- endcapture -%}


<div id="section-{{ section.id }}" class="axil-new-arrivals-product-area axil-new-arrivals-activation bg-color-white axil-section-gap pb--50 pb_sm--30">
  <div class="container">
    {% if section.settings.is_countdown == true %}
      {% assign is_coutdown_start = '<div class="d-md-flex align-items-end flash-sale-section axilcoutdown2">' %}
      {% assign is_coutdown_end = '</div>' %}
    {% else %}
      {% assign is_coutdown_start = '' %}
      {% assign is_coutdown_end = '' %}
    {% endif %}

      {{ is_coutdown_start }}
        <div class="section-title-wrapper">
            <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i> {{ section.settings.sub_title }} </span>
            <h2 class="title">{{ section.settings.title }} </h2>
        </div>

          {% if section.settings.is_countdown == true %}
              <div data-time="{{ section.settings.end_time }}" class="sale-countdown countdown"></div>
          {% endif %}
          
          {{ is_coutdown_end }}

      <div class="new-arrivals-product-activation axil-slick-slider slick-layout-wrapper--15 axil-slick-arrow  arrow-top-slide"  {% if settings.rtl_enable %} dir="rtl"{% endif %} {{ data_slick_activation }}>
          
            {% if section.settings.reverse_order == true %}
              {% assign collection = section.settings.product_collection.products | sort: section.settings.sort_by | reverse %}
            {% else %}
              {% assign collection = section.settings.product_collection.products | sort: section.settings.sort_by %}
            {% endif %}
            {% for product in collection limit: section.settings.number_of_products_to_show offset: section.settings.offset_product %}
              {% assign ex = 0 %}
              {% for ex_product in section.settings.excluded_products %}
                {% if product.id == ex_product.id %}
                  {% assign ex = 1 %}
                {% endif %}
              {% endfor %}
              {% if ex == 0 %}
                <div class="slick-single-layout">
                  {% assign layout = 'product-layout-' | append: section.settings.product_layout %}
                  {% capture include_snippet %}
                    {% include layout %}
                  {% endcapture %}
                  {{ include_snippet }}
                </div>
              {% endif %}
            {% endfor %} 

        </div> 
        <!-- End .slick-single-layout -->
    </div>
</div>
</div>
<!-- End New Arrivals Product Area  -->



{% schema %}
{
  "name": "Product Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "New Arrivals",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "default": "Recently Viewed",
      "label": "Sub Title"
    },
    {
      "type": "checkbox",
      "id": "is_countdown",
      "label": "Disable Countdown"
    },
    {
      "type": "text",
      "id": "end_time",
      "label": "End date and time",
      "default": "2024-05-22",
      "info": "Format: yyyy-mm-dd"
    },
    {
      "type": "collection",
      "id": "product_collection", 
      "label": "Collection"
    },
    
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Number of products to show"
    }, 
    {
      "type": "product_list",
      "id": "excluded_products",
      "label": "Product To Exclude"
    }, 
    {
      "type": "number",
      "id": "offset_product",
      "label": "Offset"
    }, 
    {
      "type": "select",
      "id": "sort_by",
      "label": "Sort By",
      "options": [
        {
          "label": "Name",
          "value": "title"
        }, {
          "label": "Price",
          "value": "price"
        }, {
          "label": "Date",
          "value": "published_at"
        }
      ],
      "default": "title"
    }, 
    {
      "type": "checkbox",
      "id": "reverse_order",
      "label": "Reverse Order"
    },
    {
      "type": "select",
      "id": "product_layout",
      "label": "Product Collection Layout",
      "options": [
        {
          "label": "Layout 1",
          "value": "1"
        },
        {
          "label": "Layout 2",
          "value": "2"
        },
        {
          "label": "Layout 3",
          "value": "3"
        },
        {
          "label": "Layout 4",
          "value": "4"
        }, {
          "label": "Layout 5",
          "value": "5"
        }, {
          "label": "Layout 6",
          "value": "6"
        }, {
          "label": "Layout 7",
          "value": "7"
        }, {
          "label": "Layout 8",
          "value": "8"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "id": "autoplay_true",
      "label": "Autoplay Enable",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "label": "Autoplay Speed",
      "unit": "ms",
      "default": 5000
    },
    {
      "type": "header",
      "content": "Product Carousel Column"
    },
    {
      "type": "range",
      "id": "product_column",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Desktop",
      "default": 6
    },
    {
      "type": "range",
      "id": "product_column_lg",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Laptop",
      "default": 5
    },
    {
      "type": "range",
      "id": "product_column_md",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Tablet",
      "default": 4
    },
    {
      "type": "range",
      "id": "product_column_sm",
      "min": 1,
      "max": 12,
      "step": 1,
      "label": "Mobile",
      "default": 2
    }
    
  ],
  "presets": [
    {
      "name": "Product Carousel"
    }
  ]
}
{% endschema %}