 <div id="section-{{ section.id }}" class="axil-main-slider-area main-slider-style-7 bg_image--8">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-sm-8">
              <div class="main-slider-content">
                {% if section.settings.hero_sub_title != blank %}
                  <span class="subtitle"><i class="fas fa-fire"></i>{{ section.settings.hero_sub_title }}</span>
                {% endif %}
                {% if section.settings.hero_title != blank %}
                  <h1 class="title">{{ section.settings.hero_title }}</h1>
                {% endif %}
                {% if section.settings.hero_content != blank %}
                  <p>{{ section.settings.hero_content }}</p>
                {% endif %} 
                {% if section.settings.hero_btn_txt != blank %}
                    <div class="shop-btn">  
                      <a class="axil-btn btn-bg-white" href="{{ section.settings.hero_btn_url }}" target="_self" rel="nofollow"><i class="fal fa-shopping-cart"></i>{{ section.settings.hero_btn_txt }}</a>
                    </div>
                {% endif %} 
              </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->

{%- style -%}

#section-{{ section.id }}.bg_image--8  {
  background-image: url({% if section.settings.hero_img %}{{ section.settings.hero_img | img_url: '1920x780' }}{% else %}http:\/\/via.placeholder.com\/1920x780{% endif %});  
}
 #section-{{ section.id }} .main-slider-content .subtitle  {
  color: {{ section.settings.hero_subtitle_color }};
}
#section-{{ section.id }}  .main-slider-content .title {
  color: {{ section.settings.hero_title_color }};
}

#section-{{ section.id }}  .main-slider-style-7 .main-slider-content p {
  color: {{ section.settings.hero_content_color }};
}
#section-{{ section.id }} .main-slider-content .subtitle i {
    background: {{ section.settings.hero_subtitle_color }};
}
#section-{{ section.id }} a.axil-btn {
    background-color: {{ section.settings.hero_btn_bg_color }};
    color: {{ section.settings.hero_btn_color }};
    
}
#section-{{ section.id }} a.axil-btn.btn-bg-white:before {
    background-color:  {{ section.settings.hero_btn_bg_color }};
}
{%- endstyle -%}


{% schema %}
{
  "name": "Section Hero",

  "settings": [
    {
      "type": "header",
      "content": "Hero"
    },
    {
      "type": "text",
      "id": "hero_title",
      "default": "Exclusive Design Collection",
      "label": "Title"
    }, 
    {
      "type": "text",
      "id": "hero_sub_title",
      "default": "Hot Deal In Diamond",
      "label": "Sub Title"
    },
    {
      "type": "textarea",
      "id": "hero_content",
      "default": "Casual line with short design in 100% suede Diamond",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "hero_btn_txt",
      "default": "Check it Out!",
      "label": "Button Text"
    }, 
    {
      "type": "url",
      "id": "hero_btn_url",
      "label": "URL"
    },
    {
      "type": "image_picker",
      "id": "hero_img",
      "label": "Banner Image"
    },

    {
      "type": "header",
      "content": "Color"
    },
    {
       "type": "color",
       "id": "hero_title_color",
       "label": "Title",
       "default": "#292930"
    },
    {
       "type": "color",
       "id": "hero_subtitle_color",
       "label": "Sub Title",
       "default": "#8c71db"
    },
    {
       "type": "color",
       "id": "hero_content_color",
       "label": "Content Color",
       "default": "#777777"
    },
    {
       "type": "color",
       "id": "hero_btn_color",
       "label": "Button Color",
       "default": "#292930"
    },
    {
       "type": "color",
       "id": "hero_btn_bg_color",
       "label": "Background Color",
       "default": "#ffffff"
    }
   
  ],
  "presets": [
    {
      "name": "Section Hero"
    }
  ]
}
{% endschema %} 