 
{% if section.settings.wulayout == 'layout1' %}
 <div  id="section-{{ section.id }}" class="axil-why-choose-area axil-section-gap pb--50 pb_sm--30">
  <div class="container"> 
    {% if section.settings.is_section_title == true %} 
        <div class="section-title-wrapper section-title-center"> 
          {% if section.settings.section_sub_title != blank %}  
          <span class="title-highlighter highlighter-secondary">
               {{ section.settings.sub_title_icon }} 
             {{ section.settings.section_sub_title | escape }}</span>
          {% endif %} 
          {% if section.settings.section_title != blank %}  
            <div class="heading-title">
              <h2 class="title">{{ section.settings.section_title | escape }}</h2>
            </div>  
          {% endif %}  
        </div>
      {% endif %}
      
        <div class="row row-cols-xl-{{ section.settings.col_xl }} row-cols-lg-{{ section.settings.col_lg }} row-cols-sm-{{ section.settings.col_md }} row-cols-{{ section.settings.col_sm }} row--20">     
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'whyus' %}   
              <div class="col">
                  <div class="service-box">
                      <div class="icon">
                        <img src="{% if block.settings.ws_img %}{{ block.settings.ws_img | img_url: '60x60' }}{% else %}http:\/\/via.placeholder.com\/60x60{% endif %}" alt="{{ block.settings.ws_img.alt }}"> 
                      </div> 
                      {% if block.settings.wstitle != '' %}  
                        <div class="heading-title">
                          <h6 class="title">{{ block.settings.wstitle }}</h6>
                        </div>  
                      {% endif %}  
                  </div>

              </div>
            {% endcase %}
          {% endfor %}
      </div>
  </div>
</div>
{% elsif section.settings.wulayout == 'layout2' %}
<div id="section-{{ section.id }}" class="service-area">
  <div class="container"> 
        <div class="row row-cols-xl-{{ section.settings.col_xl }} row-cols-lg-{{ section.settings.col_lg }} row-cols-sm-{{ section.settings.col_md }} row-cols-{{ section.settings.col_sm }} row--20">     
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'whyus' %}   
            <div class="col">
              <div class="service-box service-style-2">  
              {% if block.settings.ws_img != '' %}  
                  <div class="icon">
                    <img decoding="async" loading="lazy" src="{% if block.settings.ws_img %}{{ block.settings.ws_img | img_url: '60x60' }}{% else %}http:\/\/via.placeholder.com\/60x60{% endif %}" alt="{{ block.settings.ws_img.alt }}"> 
                   </div> 
                  {% endif %}
                  <div class="content">
                    {% if block.settings.wstitle != '' %}  
                      <h6 class="title">{{ block.settings.wstitle }}</h6>
                    {% endif %}
                    {% if block.settings.wscontent != '' %}  
                      <p>{{ block.settings.wscontent }}</p>
                    {% endif %}
                </div>
              </div>
            </div>
          {% endcase %}
        {% endfor %}
      </div>
  </div>
</div>
{% else %}
<div id="section-{{ section.id }}" class="how-to-sell-area axil-section-gap">
  <div class="container">
      <div class="product-area pb--50">
          <div class="section-title-wrapper section-title-center">
            {% if section.settings.section_sub_title != '' %}  
            <span class="title-highlighter highlighter-secondary"> <i class="fal fa-thumbs-up"></i>{{ section.settings.section_sub_title | escape }}</span>
            {% endif %} 
            {% if section.settings.section_title != '' %}  
              <div class="heading-title">
                <h2 class="title">{{ section.settings.section_title | escape }}</h2>
              </div>  
            {% endif %}  
          </div> 
            <div class="row row-cols-xl-{{ section.settings.col_xl }} row-cols-lg-{{ section.settings.col_lg }} row-cols-sm-{{ section.settings.col_md }} row-cols-{{ section.settings.col_sm }} row--20">     
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'whyus' %}   
                <div class="col">
                  <div class="service-box how-to-sell">
                      <div class="icon">
                        <img decoding="async" loading="lazy" src="{% if block.settings.ws_img %}{{ block.settings.ws_img | img_url: '60x60' }}{% else %}http:\/\/via.placeholder.com\/60x60{% endif %}" alt="{{ block.settings.ws_img.alt }}"> 
                       </div>
                      <h6 class="title">{{ block.settings.wstitle }}</h6>
                      <p>{{ block.settings.wscontent }}</p>
                  </div>
                </div>
              {% endcase %}
            {% endfor %}
          </div>
      </div>
  </div>
</div>
{% endif %}


{%- style -%}

  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'section_margin' -%}
        margin-top: {{ block.settings.section_margin_top }}px;
        margin-bottom: {{ block.settings.section_margin_bottom }}px;
        {%- when 'section_padding' -%}
        padding-top: {{ block.settings.section_padding_top }}px;
        padding-bottom: {{ block.settings.section_padding_bottom }}px;
        {%- when 'section_background' -%}
        background: {{ block.settings.section_bg_color }}
        {%- if block.settings.section_bg_image -%}
          url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
      {%- endcase -%}
    {%- endfor -%}
  }

  @media(min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'section_margin' -%}
          margin-top: {{ block.settings.section_margin_top_md }}px;
          margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
          {%- when 'section_padding' -%}
          padding-top: {{ block.settings.section_padding_top_md }}px;
          padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
        {%- endcase -%}
      {%- endfor -%}
    }
  }

  @media(max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'section_margin' -%}
          margin-top: {{ block.settings.section_margin_top_xs }}px;
          margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
          {%- when 'section_padding' -%}
          padding-top: {{ block.settings.section_padding_top_xs }}px;
          padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
        {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}



{% schema %}
{
  "name": "t:sections.whyus.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.whyus.settings.header.label"
    },
    {
      "type": "select",
      "id": "wulayout",
      "default": "layout1",
      "label": "t:sections.whyus.settings.layout.label",
      "options": [
        {
          "label": "t:sections.whyus.settings.layout.label",
          "value": "layout1"
        },
        {
          "label": "t:sections.whyus.settings.layout.label",
          "value": "layout2"
        },
        {
          "label": "t:sections.whyus.settings.layout.label",
          "value": "layout3"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "is_section_title",
      "label": "t:sections.whyus.settings.is_title.label"
    },
    {
      "type": "html",
      "id": "sub_title_icon",
      "default": "<i class='fal fa-thumbs-up'></i>",
      "label": "t:sections.whyus.settings.sub_title_icon.label",
      "info": "t:sections.whyus.settings.sub_title_icon.info"
    },
    {
      "type": "text",
      "id": "section_title",
      "default": "Why People Choose Us",
      "label": "t:sections.whyus.settings.section_title.label"
    },
    {
      "type": "text",
      "id": "section_sub_title",
      "default": "Why Us",
      "label": "t:sections.whyus.settings.section_sub_title.label"
    },
    {
      "type": "select",
      "id": "col_xl",
      "label": "t:sections.whyus.settings.col_xl.label",
      "default": "5",
      "options": [
        {
          "label": "t:sections.whyus.settings.col_xl.option_1.label",
          "value": "1"
        },
        {
          "label": "t:sections.whyus.settings.col_xl.option_2.label",
          "value": "2"
        },
        {
          "label": "t:sections.whyus.settings.col_xl.option_3.label",
          "value": "3"
        },
        {
          "label": "t:sections.whyus.settings.col_xl.option_4.label",
          "value": "4"
        },
        {
          "label": "t:sections.whyus.settings.col_xl.option_5.label",
          "value": "5"
        },
        {
          "label": "t:sections.whyus.settings.col_xl.option_6.label",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_lg",
      "default": "4",
      "label": "t:sections.whyus.settings.col_lg.label",
      "options": [
        {
          "label": "t:sections.whyus.settings.col_lg.option_6.label",
          "value": "1"
        },
        {
          "label": "t:sections.whyus.settings.col_lg.option_6.label",
          "value": "2"
        },
        {
          "label": "t:sections.whyus.settings.col_lg.option_6.label",
          "value": "3"
        },
        {
          "label": "t:sections.whyus.settings.col_lg.option_6.label",
          "value": "4"
        },
        {
          "label": "t:sections.whyus.settings.col_lg.option_6.label",
          "value": "5"
        },
        {
          "label": "t:sections.whyus.settings.col_lg.option_6.label",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_md",
      "default": "3",
      "label": "t:sections.whyus.settings.col_md.label",
      "options": [
        {
          "label": "t:sections.whyus.settings.col_md.option_6.label",
          "value": "1"
        },
        {
          "label": "t:sections.whyus.settings.col_md.option_6.label",
          "value": "2"
        },
        {
          "label": "t:sections.whyus.settings.col_md.option_6.label",
          "value": "3"
        },
        {
          "label": "t:sections.whyus.settings.col_md.option_6.label",
          "value": "4"
        },
        {
          "label": "t:sections.whyus.settings.col_md.option_6.label",
          "value": "5"
        },
        {
          "label": "t:sections.whyus.settings.col_md.option_6.label",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_sm",
      "default": "2",
      "label": "t:sections.whyus.settings.col_sm.label",
      "options": [
        {
          "label": "t:sections.whyus.settings.col_sm.option_6.label",
          "value": "1"
        },
        {
          "label": "t:sections.whyus.settings.col_sm.option_6.label",
          "value": "2"
        },
        {
          "label": "t:sections.whyus.settings.col_sm.option_6.label",
          "value": "3"
        },
        {
          "label": "t:sections.whyus.settings.col_sm.option_6.label",
          "value": "4"
        },
        {
          "label": "t:sections.whyus.settings.col_sm.option_6.label",
          "value": "5"
        },
        {
          "label": "t:sections.whyus.settings.col_sm.option_6.label",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mobile",
      "default": "1",
      "label": "t:sections.whyus.settings.col_mobile.label",
      "options": [
        {
          "label": "t:sections.whyus.settings.col_mobile.option_6.label",
          "value": "1"
        },
        {
          "label": "t:sections.whyus.settings.col_mobile.option_6.label",
          "value": "2"
        },
        {
          "label": "t:sections.whyus.settings.col_mobile.option_6.label",
          "value": "3"
        },
        {
          "label": "t:sections.whyus.settings.col_mobile.option_6.label",
          "value": "4"
        },
        {
          "label": "t:sections.whyus.settings.col_mobile.option_6.label",
          "value": "5"
        },
        {
          "label": "t:sections.whyus.settings.col_mobile.option_6.label",
          "value": "6"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "whyus",
      "name": "t:sections.whyus.blocks.whyus.name",
      "settings": [
        {
          "type": "richtext",
          "id": "wstitle",
          "default": "<p>Fast & Secure Delivery</p>",
          "label": "t:sections.whyus.blocks.whyus.settings.wstitle.label"
        },
        {
          "type": "textarea",
          "id": "wscontent",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "ws_img",
          "label": "Image",
          "info": "Recommended Size: 60px X 60px"
        }
      ]
    },
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 60
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 60
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Top",
          "unit": "px",
          "default": 40
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 40
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 150,
          "step": 5,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "Background Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "Background Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section Why Us",
      "blocks": [
        {
          "type": "whyus"
        },
        {
          "type": "section_padding"
        }
      ]
    }
  ]
}
{% endschema %} 