
<div id="section-{{ section.id }}" class="axil-most-sold-product axil-section-gap">
  <div class="container">
      <div class="product-area pb--50">
          {% if section.settings.is_section_title == true %} 
            <div class="section-title-wrapper section-title-center">
                {% if section.settings.subtitle != blank %}
                  <span class="title-highlighter highlighter-primary">
                    {{ section.settings.sub_title_icon }}  
                    {{ section.settings.subtitle }}  
                </span>
                {% endif %}     
                {% if section.settings.title != blank %}
                  <h2 class="title">{{ section.settings.title }}  
                </h2>
                {% endif %}    
            </div>
          {% endif %}
        <div class="row row-cols-xl-{{ section.settings.col_xl }} row-cols-lg-{{ section.settings.col_lg }} row-cols-sm-{{ section.settings.col_md }} row-cols-{{ section.settings.col_sm }}">  
           
          {% for product in section.settings.product_collection.products limit: section.settings.number_of_products_to_show offset: section.settings.offset_product %}
             
              {% assign ex = 0 %}
                {% for ex_product in section.settings.excluded_products %}
                  {% if product.id == ex_product.id %}
                    {% assign ex = 1 %}
                  {% endif %}
                {% endfor %} 
                
                {% if ex == 0 %}
                  
                {% if section.settings.list_layout == 'style_1' %}
                  
              <div class="col">
                  <div class="axil-product-list">
                      <div class="thumbnail">
                        <a href="{{ product.url }}">
                          {% if product.featured_image %}
                            <img
                              width="300"
                              height="300"
                              src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
                              class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                              alt="{{ product.title | escape }}"
                              loading="lazy">
                          {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                          {% endif %}
                        </a>
                      </div>
                      <div class="product-content">
                          <div class="product-rating">
                              <span class="rating-icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fal fa-star"></i>
                            </span>
                              <span class="rating-number"><span>100+</span> Reviews</span>
                          </div>                          
                          <h6 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h6>
                          <div class="product-price-variant">
                              <span class="price current-price">{{ product.price | money }}</span> 
                          </div>
                          <div class="product-cart">
                            {% form 'product', product %}
                              <input
                                type="hidden"
                                name="id"
                                value="{{ product.selected_or_first_available_variant.id }}">
                                <button class="cart-btn" type="submit">
                                  <i class="fal fa-shopping-cart"></i>
                                </button>
                            {% endform %}  
                              <a href="#" class="cart-btn"><i class="fal fa-heart"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              {% elsif section.settings.list_layout == 'style_2' %}
 

              <div class="axil-product-list product-list-style-2">
				        <div class="thumbnail">
                  <a href="{{ product.url }}">
                    {% if product.featured_image %}
                      <img
                        width="300"
                        height="300"
                        src="{{ product.featured_image | image_url: width: 120, height: 120 }}"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                        alt="{{ product.title | escape }}"
                        loading="lazy">
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                  </a>
				        </div>
				        <div class="product-content">
                  <h6 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h6>

                <div class="product-price-variant"> 
                    <span class="woocommerce-Price-currencySymbol">
                     {{ product.price | money }}
                    </span>
                </div>
 

				            <div class="product-cart">
				            	 <a title="Buy Product" href="#"  class="cart-btn button non-wooc-toltp product_type_external"><span>Buy Product</span>
                      </a>	
				              
				            </div>
				        </div>
			    	</div>


            {% endif %}

            {% endif %}
          {% endfor %} 
          </div>
      </div>
  </div>
</div>
<!-- End Most Sold Product Area  -->




{%- style -%}

  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | image_url }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }

  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }

  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
 
{%- endstyle -%}
{% schema %}
{
  "name": "Product List",
  "settings": [
    {
      "type": "select",
      "id": "list_layout",
      "default": "style_2",
      "label": "List Layout",
      "options": [
        {
          "label": "Layout 1",
          "value": "style_1"
        },
        {
          "label": "Layout 2",
          "value": "style_2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "is_section_title",
      "label": "Enable Section Title",
      "default": true
    },
    {
      "type": "html",
      "id": "sub_title_icon",
      "default": "<i class='fas fa-tags'></i>",
      "label": "Before Icon",
      "info": "Recommended Fontawesome Icon"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Recently Viewed",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Recently Viewed",
      "label": "Sub Title"
    },
    {
      "type": "collection",
      "id": "product_collection",
      "label": "Collection"
    },
    {
      "type": "number",
      "id": "offset_product",
      "label": "Offset"
    },
    {
      "type": "product_list",
      "id": "excluded_products",
      "label": "Product To Exclude"
    },
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Number of products to show"
    },
    {
      "type": "select",
      "id": "col_xl",
      "label": "Desktops: > 1199px",
      "default": "2",
      "options": [
        {
          "label": "1 Col",
          "value": "1"
        },
        {
          "label": "2 Col",
          "value": "2"
        },
        {
          "label": "3 Col",
          "value": "3"
        },
        {
          "label": "4 Col",
          "value": "4"
        },
        {
          "label": "5 Col",
          "value": "5"
        },
        {
          "label": "6 Col",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_lg",
      "default": "2",
      "label": "Desktops: > 991px",
      "options": [
        {
          "label": "1 Col",
          "value": "1"
        },
        {
          "label": "2 Col",
          "value": "2"
        },
        {
          "label": "3 Col",
          "value": "3"
        },
        {
          "label": "4 Col",
          "value": "4"
        },
        {
          "label": "5 Col",
          "value": "5"
        },
        {
          "label": "6 Col",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_md",
      "default": "2",
      "label": "Desktops: > 767px",
      "options": [
        {
          "label": "1 Col",
          "value": "1"
        },
        {
          "label": "2 Col",
          "value": "2"
        },
        {
          "label": "3 Col",
          "value": "3"
        },
        {
          "label": "4 Col",
          "value": "4"
        },
        {
          "label": "5 Col",
          "value": "5"
        },
        {
          "label": "6 Col",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_sm",
      "default": "1",
      "label": "Phones: >575px",
      "options": [
        {
          "label": "1 Col",
          "value": "1"
        },
        {
          "label": "2 Col",
          "value": "2"
        },
        {
          "label": "3 Col",
          "value": "3"
        },
        {
          "label": "4 Col",
          "value": "4"
        },
        {
          "label": "5 Col",
          "value": "5"
        },
        {
          "label": "6 Col",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mobile",
      "default": "1",
      "label": "Small Phones: <576px",
      "options": [
        {
          "label": "1 Col",
          "value": "1"
        },
        {
          "label": "2 Col",
          "value": "2"
        },
        {
          "label": "3 Col",
          "value": "3"
        },
        {
          "label": "4 Col",
          "value": "4"
        },
        {
          "label": "5 Col",
          "value": "5"
        },
        {
          "label": "6 Col",
          "value": "6"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "section_padding",
      "name": "Section Padding",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding Top",
          "unit": "px",
          "default": 60
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 60
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_md",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding Top",
          "unit": "px",
          "default": 46
        },
        {
          "type": "range",
          "id": "section_padding_bottom_md",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 46
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_padding_top_xs",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding Top",
          "unit": "px",
          "default": 46
        },
        {
          "type": "range",
          "id": "section_padding_bottom_xs",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Padding Bottom",
          "unit": "px",
          "default": 46
        }
      ]
    },
    {
      "type": "section_margin",
      "name": "Section Margin",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Large/Desktop Device"
        },
        {
          "type": "range",
          "id": "section_margin_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Tablet Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_md",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_md",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        },
        {
          "type": "header",
          "content": "Mobile Device"
        },
        {
          "type": "range",
          "id": "section_margin_top_xs",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Margin Top",
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "section_margin_bottom_xs",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Margin Bottom",
          "unit": "px",
          "default": 0
        }
      ]
    },
    {
      "type": "section_background",
      "name": "Section Background",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "section_bg_image",
          "label": "BG Image"
        },
        {
          "type": "color",
          "id": "section_bg_color",
          "label": "BG Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product List",
      "blocks": [
        {
          "type": "section_padding"
        }
      ]
    }
  ]
}
{% endschema %}