


<article class="py-8" itemtype="http://schema.org/BlogPosting">
    <div class="axil-blog-area axil-section-gap"> 
        {% if article.image != blank %}
            <div class="axil-single-post post-formate post-standard">
                <div class="container">
                    <div class="content-block">
                        <div class="inner">   
                            <div itemprop="image" class="post-thumbnail"> 
                                   <img sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                                           src="{{ article.image | image_url: width: 1300 }}"
                                           loading="lazy"
                                           class="img-fluid d-block mx-auto"
                                           width="{{ article.image.width }}"
                                           height="{{ article.image.height }}"
                                           alt="{{ article.image.alt | escape }}">
                               
                            </div>  
                        </div>
                    </div> 
                </div>
            </div>  
        {% endif %}

        <div class="post-single-wrapper position-relative">
            <div class="container">
                <div class="row"> 
                    <div class="col-lg-1">
                        <div class="d-flex flex-wrap align-content-start h-100">
                            <div class="position-sticky sticky-top">
                                <div class="post-details__social-share">
                                <span class="share-on-text">Share on:</span>
                                    <div class="social-share">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://dev.axilthemes.com/themes/etrade/how-to-generate-blog-ideas-are-great-for-businesses-that-sell-both-b2b-and-d2c-2-2/" target="_blank" class="aw-facebook"><i class="fab fa-facebook-f"></i></a>
                                        <a href="https://twitter.com/share?https://dev.axilthemes.com/themes/etrade/how-to-generate-blog-ideas-are-great-for-businesses-that-sell-both-b2b-and-d2c-2-2/&amp;text=How%20to%20generate%20blog%20ideas%20are%20great%20for%20businesses%20that%20sell%20both%20B2B%20and%20D2D" target="_blank" class="aw-twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="http://www.linkedin.com/shareArticle?url=https://dev.axilthemes.com/themes/etrade/how-to-generate-blog-ideas-are-great-for-businesses-that-sell-both-b2b-and-d2c-2-2/&amp;title=How%20to%20generate%20blog%20ideas%20are%20great%20for%20businesses%20that%20sell%20both%20B2B%20and%20D2D" target="_blank" class="aw-linkdin"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div>  
                    <div class=" col-lg-7 axil-post-wrapper"> 
                        <div class="post-heading">   
                        {%- if section.settings.blog_show_title -%}<h1 class="title blog-item-name" itemprop="headline">{{ article.title | escape }}</h1> {%- endif -%}
                        {%- if section.settings.blog_show_author -%} 

                        <div class="axil-post-meta">
                            <div class="post-author-avatar">
                                <img src="{{ article.user.image | img_url: 'master' }}" alt="{{ article.author }}">
                            <div class="post-meta-content">    
                                <h6 class="author-title post-author-name">
                                    <a class="hover-flip-item-wrapper" href="#">
                                        <span class="hover-flip-item">
                                            <span data-text="">
                                                <span class="text-muted" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                    <span itemprop="name">{{ article.author }}</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </h6>
                                <ul class="post-meta-list">                    
                                    <li class="post-meta-date">{{ article.published_at | date: "%b, %d , %y" }}</li> 
                                    <li>{{ article.bio }}</li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                        {%- endif -%} 
                    </div> 
                    <div class="col-lg-4">
                        Sidebar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</article>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | img_url: "medium" | prepend: 'https:' | json }} 
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "blog_show_author",
            "label": "Is Author",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "blog_show_title",
            "label": "Is Title",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Date"
        }
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_published_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}