 
<div class="axil-signin-area"> 
    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-sm-4">
                {% render 'header-logo' %}
            </div>
            <div class="col-sm-8">
                <div class="singin-header-btn">
                    {% if section.settings.password_btn_info != '' %}  
                        <p>{{ section.settings.password_btn_info }}</p>
                    {% endif %}  
                {% if section.settings.password_btn_txt != '' %}  
                    <a href="/account/password" class="axil-btn btn-bg-secondary sign-up-btn">{{ section.settings.password_btn_txt }}</a>
                {% endif %}  
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                {% if section.settings.password_btn_info != '' %}  
                <h3 class="title">{{ section.settings.password_btn_info }}</p>
            {% endif %} 
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <div class="block-title">
                        <h2>{{ 'customer.reset_password.title' | t }}</h2>
                        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                    </div>
                    <div class="block-content">
                        {%- form 'reset_customer_password' -%}

                        {%- if form.errors -%}
                        <div class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                        <h2 class="form__message" tabindex="-1" autofocus>
                            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                            <svg aria-hidden="true" focusable="false" role="presentation">
                                <use href="#icon-error" />
                            </svg>
                            {{ 'templates.contact.form.error_heading' | t }}
                        </h2>
                        <ul>
                            {%- for field in form.errors -%}
                            <li>
                                {%- if field == 'form' -%}
                                {{ form.errors.messages[field] }}
                                {%- else -%}
                                <a href="#{{ field }}">
                                    {{ form.errors.translated_fields[field] | capitalize }}
                                    {{ form.errors.messages[field] }}
                                </a>
                                {%- endif -%}
                            </li>
                            {%- endfor -%}
                        </ul>
                        {%- endif -%}

                        <div class="field">      
                            <input
                            class="form-control field__input"
                            type="password"
                            name="customer[password]"
                            id="password"
                            autocomplete="new-password"
                            {% if form.errors contains 'password' %}
                            aria-invalid="true"
                            aria-describedby="password-error"
                            {% endif %}
                            placeholder="{{ 'customer.reset_password.password' | t }}"
                            >
                            <label for="password">
                                {{ 'customer.reset_password.password' | t }}
                            </label>
                            {%- if form.errors contains 'password' -%}
                            <div class="invalid-feedback">
                                {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
                            </div>
                            {%- endif -%}
                        </div>
                        <div class="field">      
                            <input
                            class="form-control field__input"
                            type="password"
                            name="customer[password_confirmation]"
                            id="password_confirmation"
                            autocomplete="new-password"
                            {% if form.errors contains 'password_confirmation' %}
                            aria-invalid="true"
                            aria-describedby="password_confirmation-error"
                            {% endif %}
                            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                            >
                            <label for="password_confirmation">
                                {{ 'customer.reset_password.password_confirm' | t }}
                            </label>
                            {%- if form.errors contains 'password_confirmation' -%}
                            <div class="invalid-feedback">
                                {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
                            </div>
                            {%- endif -%}
                        </div>
                        <div class="actions-toolbar justify-content-center">
                            <button class="btn btn-primary d-block">{{ 'customer.reset_password.submit' | t }}</button>
                        </div>
                        {%- endform -%}
                    </div>
                </div> 
            </div> 
        </div>
    </div>
</div>

{%- style -%}
  .bg_image--10{ 
    background: {{ section.settings.bg_color }} 
     url("{{ section.settings.password_image | img_url: 'master' }}") no-repeat scroll center center / cover;  
  } 

#section-footer, header.header { display: none }

{%- endstyle -%}

{% schema %}
{
    "name": "login",
    "settings": [
        {
            "type": "text",
            "id": "password_btn_info",
            "default": "Not a member?",
            "label": "SignIn Button Info"
          }, 
          {
            "type": "text",
            "id": "password_btn_txt",
            "default": "Sign Up Now",
            "label": "SignIn Button Text"
          },
          {
            "type": "text",
            "id": "password_side_title",
            "default": "Why People Choose Us",
            "label": "Banner Title"
          },
        {
            "type": "image_picker",
            "id": "password_image",
            "label": "password Image"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ffffff"
          }
    ]
}

{% endschema %}