 
<div class="axil-signin-area"> 
    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-sm-4">
                {% render 'header-logo' %}
            </div>
            <div class="col-sm-8">
                <div class="singin-header-btn">
                    {% if section.settings.password_btn_info != '' %}  
                        <p>{{ section.settings.password_btn_info }}</p>
                    {% endif %}  
                {% if section.settings.password_btn_txt != '' %}  
                    <a href="/account/password" class="axil-btn btn-bg-secondary sign-up-btn">{{ section.settings.password_btn_txt }}</a>
                {% endif %}  
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                {% if section.settings.password_btn_info != '' %}  
                <h3 class="title">{{ section.settings.password_btn_info }}</p>
            {% endif %} 
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="acount-title">Sign in to eTrade.</h3>
                    <p class="b2">Enter your detail below</p>

                    {% form 'reset_customer_password' %}
                        {% if form.errors %}
                            <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                                <strong class="font-bold">Error!</strong>
                                <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                            </div>
                        {% endif %}
        
                        
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password"
                                name="customer[password]"
                                id="password"
                                autocomplete="new-password"
                                class="form-control"
                                placeholder="Password"
                            >
                        </div>
        
                        <div class="form-group">
                            <label for="password_confirmation" class="sr-only">Password Confirmation</label>
                            <input type="password"
                                name="customer[password_confirmation]"
                                id="password_confirmation"
                                autocomplete="new-password"
                                class="form-control"
                                placeholder="Confirm your password"
                            >
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn">
                                Reset password
                            </button>
                        </div>
                    {% endform %}
                     
                </div> 
            </div> 
        </div>
    </div>
</div>

{%- style -%}
  .bg_image--10{ 
    background: {{ section.settings.bg_color }} 
     url("{{ section.settings.password_image | img_url: 'master' }}") no-repeat scroll center center / cover;  
  } 

#section-footer, header.header { display: none }

{%- endstyle -%}

{% schema %}
{
    "name": "login",
    "settings": [
        {
            "type": "text",
            "id": "password_btn_info",
            "default": "Not a member?",
            "label": "SignIn Button Info"
          }, 
          {
            "type": "text",
            "id": "password_btn_txt",
            "default": "Sign Up Now",
            "label": "SignIn Button Text"
          },
          {
            "type": "text",
            "id": "password_side_title",
            "default": "Why People Choose Us",
            "label": "Banner Title"
          },
        {
            "type": "image_picker",
            "id": "password_image",
            "label": "password Image"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ffffff"
          }
    ]
}

{% endschema %}