


<article class="py-8" itemtype="http://schema.org/BlogPosting">
    <div class="axil-blog-area axil-section-gap"> 
        {% if article.image != blank %}
            <div class="axil-single-post post-formate post-standard">
                <div class="container">
                    <div class="content-block">
                        <div class="inner">   
                            <div itemprop="image" class="post-thumbnail">
                                <img src="{{ article | img_url: 'master' }}" alt="{{ article.image.alt }}">
                            </div>  
                        </div>
                    </div> 
                </div>
            </div>  
        {% endif %}
 
    </div>
    </div>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | img_url: "medium" | prepend: 'https:' | json }} 
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Date"
        }
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_published_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}