


<article class="py-8" itemtype="http://schema.org/BlogPosting">
    <div class="axil-blog-area axil-section-gap"> 
        {% if article.image != blank %}
            <div class="axil-single-post post-formate post-standard">
                <div class="container">
                    <div class="content-block">
                        <div class="inner">   
                            <div itemprop="image" class="post-thumbnail"> 
                                   <img sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                                        src="{{ article.image | image_url: width: 1300 }}"
                                        loading="lazy"
                                        class="img-fluid d-block mx-auto"
                                        width="{{ article.image.width }}"
                                        height="{{ article.image.height }}"
                                        alt="{{ article.image.alt | escape }}">
                               
                            </div>  
                        </div>
                    </div> 
                </div>
            </div>  
        {% endif %}

            <div class="post-single-wrapper position-relative">
                <div class="container">
                    <div class="row">  
                    
                      {%- if section.settings.blog_show_social_share -%}
                        {% render 'social-share-blog' %} 
                      {% endif %}

                        <div class=" col-lg-7 axil-post-wrapper"> 
                            <div class="post-heading">   
                            {%- if section.settings.blog_show_title -%}<h1 class="title blog-item-name" itemprop="headline">{{ article.title | escape }}</h1> {%- endif -%}
                            {%- if section.settings.blog_show_author -%}  
                            <div class="axil-post-meta">
                                <div class="post-author-avatar">
                                    <img src="{{ article.user.image | img_url: 'master' }}" alt="{{ article.author }}">
                                </div>
                                <div class="post-meta-content">    
                                    <h6 class="author-title post-author-name"> 
                                        <span class="hover-flip-item"> 
                                            <span itemprop="name">{{ article.author }}</span>
                                        </span> 
                                    </h6>
                                    <ul class="post-meta-list">                    
                                        <li class="post-meta-date">{{ article.published_at | date: "%b, %d , %y" }}</li> 
                                        <li>{{ article.bio }}</li>
                                    </ul> 
                                </div>
                            </div> 
                        {%- endif -%} 
                        </div> 

                        <div class="blog-item-details" itemprop="articleBody" {{ block.shopify_attributes }}>
                            <div class="blog-item-description">{{ article.content }}</div>
                        </div> 

                        {%- if section.settings.show_tags -%}
                            <div class="tag entry-tags">
                                <span>Tags:</span>  
                                {% render 'tags-article' %} 
                            </div> 
						{%- endif -%}  

                        {% if blog.next_article or blog.previous_article %}
                            <!-- Post Navigation Start Here -->
                            <nav class="post-navigation mb--40">
                              <div class="d-flex justify-content-between">
                  
                                <div class="nav-prev">
                  
                                  {% if blog.previous_article %}
                                  <span class="left">
                                    &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
                                  </span>
                                  {% endif %}
                                </div>
                  
                                <div class="nav-next">
                                  {% if blog.next_article %}
                                  <span class="right">
                                    {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
                                  </span>
                                  {% endif %}
                                </div>
                  
                              </div>
                            </nav>
                            <!-- Post Navigation Start Here -->
                            {% endif %}





                {%- if article.comments_enabled? -%}
                  {%- assign comment_post_limit = section.settings.comment_post_limit_handle -%}
                  {%- paginate article.comments by comment_post_limit -%}
                  <!-- Comments Start Here -->
                  <div class="axil-comment-area">
                    <div id="comments" class="comments-area">
          
                      {%- if comment and comment.created_at -%}
                      <p class="note form-success">
                        {%- if blog.comments_modareted? -%}
                        {{ 'blogs.comments.success_moderated' | t }}            
                        {%- else -%}
                        {{ 'blogs.comments.success' | t }}
                        {%- endif -%}
                      </p>
                      {%- endif -%}
          
                      {%- if article.comments.size > 0 -%}
                      {%- render 'blog-comments' -%}
          
                      {%- endif -%}
                      {%- if paginate.pages > 1 -%}
                      <div class="pagination-wrap mb--40">
                        {% render 'pagination' %}
                      </div>
                      {%- endif -%}
                      {%- render 'blog-comment-form' -%}
          
          
                    </div>
                  </div>
                  <!-- Comments Start Here -->
                  {%- endpaginate -%}
                  {%- endif -%}
 
                            
                    </div>
                    <div class="col-lg-4">
                    <div class="axil-sidebar-area"> 
                      {%- for block in section.blocks -%}
                        {%- case block.type -%}
                        {%- when 'search' -%} 
                            <div class="axil-single-widget widget_product_search mt--40">
                                <h6 class="widget-title">{{ block.settings.search_title }}</h6>
                                <form class="blog-search" method="get" action="/search">
                                    <input type="hidden" name="type" value="article"/>
                                <div class="custom-search-input">
                                    <div class="input-group">
                                        <input class="search-query form-control" placeholder="Search products ..." type="text" name="q"/> 
                                        <span class="input-group-btn"> 
                                                <button class="btn" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div> 
                            </form>
                        </div> 

                        {% when 'recent_post' %}
                          <div class="axil-single-widget widget_products mt--40">
                            {% if block.settings.recent_post_title != blank %}
                            <h6 class="widget-title">{{ block.settings.recent_post_title }}</h6>
                            {% endif %}
                            <ul class="product_list_widget">
                              {% assign recent_post_limit = block.settings.recent_post_limit_handle %}
                              {% for article in blogs[blog.handle].articles limit: recent_post_limit %}
                              <li>
                                <div class="thumbnail">
                                  <a href="{{ article.url }}">
                                    <img src="{{ article | img_url: width: 150  }}" alt="{{ article.alt }}">
                                  </a>
                                </div>
                                <div class="content">
                                  <h6 class="recent-post__title text-truncate">
                                    <a class="product-title" href="{{ article.url }}">{{ article.title | truncate: 20 }}</a>
                                  </h6>
                                  <span class="recent-post__meta">{{ article.published_at | date: "%b %d, %Y" }}</span>
                                </div>
                                </ul>
                              </li>
                            {% endfor %}
                              
                          </ul>
                          </div>
                          {%- endcase -%}
                        {% endfor %}
                        </div> 
                    </div> 

                </div>
            </div>
        </div>
       
    </div>
    {%- render 'related-blog-post' -%}
</article>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | img_url: "medium" | prepend: 'https:' | json }} 
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>
<script type="text/javascript">
  function PopupCenter(url, title, w, h) {
      var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
      var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;
      width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
      height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;
      var left = ((width / 2) - (w / 2)) + dualScreenLeft;
      var top = ((height / 2) - (h / 2)) + dualScreenTop;
      var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
      if (window.focus) {
          newWindow.focus();
      }
  }
</script>

{% schema %}
{
    "name": "Template Article",
    "settings": [
          {
            "type": "checkbox",
            "id": "blog_show_social_share",
            "label": "Is Author",
            "default": true
          }, 
          {
            "type": "text",
            "id": "social_share_title",
            "label": "Social Label",
            "default": "Share on" 
          },
          {
            "type": "checkbox",
            "id": "blog_show_author",
            "label": "Is Author",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "blog_show_title",
            "label": "Is Title",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Date"
        }, 
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show Tags",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "display_prev_next",
            "label": "Show Prev/Next Product",
            "default": true
          },
          {
          "type": "header",
          "content": "Comment Box"
          },
          {
            "type": "image_picker",
            "id": "commentator_image",
            "label": "Comment Thumb Image",
            "info": "Recommended Size: 80 x 80px"
          },
          {
            "type": "range",
            "id": "comment_post_limit_handle",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "How Many Comment Post Show",
            "default": 5
        },
        {
          "type": "header",
          "content": "Comment Form"
        },
        {
          "type": "textarea",
          "id": "comment_description",
          "label": "Commend Description Bottom",
          "default": "Your email address will not be published. Required fields are marked" 
        },
        {
          "type": "text",
          "id": "text_name_title",
          "label": "Name Label",
          "default": "Name" 
        },
        {
          "type": "text",
          "id": "text_email_title",
          "label": "Email Label",
          "default": "Email" 
        },
        {
          "type": "text",
          "id": "text_area_title",
          "label": "Textarea Label",
          "default": "Write your comment here…" 
        },
		    {
          "type": "header",
          "content": "Blog Social Area"
	     },
        {
          "type": "checkbox",
          "id": "social_enable",
          "label": "Social Enable",
          "default": true
        },
        {
          "type": "header",
          "content": "Releted Blog Post"
        },
        {
          "type": "checkbox",
          "id": "related_post_enable",
          "label": "Show Blog Post",
          "default": true
        },
        {
          "type": "header",
          "content": "Section Heading"
        }, 
        {
          "type": "text",
          "id": "section_before_title",
          "label": "Section Before Title",
          "default": "Your Recently"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Related Posts"
        },
        {
          "type": "range",
          "id": "related_post_limit_handle",
          "min": 1,
          "max": 20,
          "step": 1,
          "label": "Post Limit",
          "default": 6
        },
        {
          "type": "checkbox",
          "id": "is_content_enable",
          "label": "Content Enable",
          "default": true
        },
        {
          "type": "range",
          "id": "related_post_content_limit_handle",
          "min": 0,
          "max": 100,
          "step": 2,
          "label": "Post Content Limit",
          "default": 10
        },
        {
          "type": "header",
          "content": "Options"
        },
        {
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
        },
        {
          "type": "range",
          "id": "autoplay_speed",
          "min": 1000,
          "max": 9000,
          "step": 1000,
          "label": "Autoplay Speed",
          "unit": "ms",
          "default": 5000
        },
        {
          "type": "header",
          "content": "Post Carousel Column"
        },
        {
          "type": "range",
          "id": "product_column",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Desktop",
          "default": 3
        },
        {
          "type": "range",
          "id": "product_column_md",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Tablet",
          "default": 2
        },
        {
          "type": "range",
          "id": "product_column_sm",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Mobile",
          "default": 1
        },  
        {
            "type": "color",
            "id": "section_title_before",
            "label": "Title before Color",
            "default": "#8c71db"
          },
          {
            "type": "color",
            "id": "section_title_color",
            "label": "Section Title Color",
            "default": "#292930"
          }  
      ],
    "blocks": [
      {
        "type": "search",
        "limit": 1,
        "name": "Search",
        "settings": [
          {
            "type": "text",
            "id": "search_title",
            "label": "Search",
            "default": "Search"
          }
        ]
      },
      {
        "type": "recent_post",
        "name": "Recent Post",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "recent_post_title",
            "label": "Recent Post Title",
            "default": "Recent Post"
          },
          {
            "type": "range",
            "id": "recent_post_limit_handle",
            "min": 2,
            "max": 10,
            "step": 1,
            "label": "Post Limit",
            "default": 3
          }
        ]
     }
      
      
    ]

}
{% endschema %}