


<article class="py-8" itemtype="http://schema.org/BlogPosting">
    <div class="axil-blog-area axil-section-gap"> 
        {% if article.image != blank %}
            <div class="axil-single-post post-formate post-standard">
                <div class="container">
                    <div class="content-block">
                        <div class="inner">   
                            <div itemprop="image" class="post-thumbnail">
                                <div class="d-block {% if section.settings.image_height != 'orignal' %} ratio ratio-{{section.settings.image_height}}{% endif %}"
                                    itemprop="image">
                                   <img
                                           srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
               {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
               {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
               {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
               {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
               {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
               {{ article.image | image_url }} {{ article.image.width }}w"
                                           sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                                           src="{{ article.image | image_url: width: 1100 }}"
                                           loading="lazy"
                                           class="img-fluid d-block mx-auto"
                                           width="{{ article.image.width }}"
                                           height="{{ article.image.height }}"
                                           alt="{{ article.image.alt | escape }}">
                               </div>
                            </div>  
                        </div>
                    </div> 
                </div>
            </div>  
        {% endif %}
 
    </div>
    </div>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | img_url: "medium" | prepend: 'https:' | json }} 
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Date"
        }
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_published_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}