


<article class="py-8" itemtype="http://schema.org/BlogPosting">
    <div class="axil-blog-area axil-section-gap"> 
        {% if article.image != blank %}
            <div class="axil-single-post post-formate post-standard">
                <div class="container">
                    <div class="content-block">
                        <div class="inner">   
                            <div itemprop="image" class="post-thumbnail"> 
                                   <img sizes="(min-width: {{ settings.container_width }}px) {{ settings.container_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                                        src="{{ article.image | image_url: width: 1300 }}"
                                        loading="lazy"
                                        class="img-fluid d-block mx-auto"
                                        width="{{ article.image.width }}"
                                        height="{{ article.image.height }}"
                                        alt="{{ article.image.alt | escape }}">
                               
                            </div>  
                        </div>
                    </div> 
                </div>
            </div>  
        {% endif %}

            <div class="post-single-wrapper position-relative">
                <div class="container">
                    <div class="row">  
                        <div class="col-lg-1">
                            <div class="d-flex flex-wrap align-content-start h-100">
                                <div class="position-sticky sticky-top">
                                    <div class="post-details__social-share">
                                    <span class="share-on-text">Share on:</span>
                                        <div class="social-share">
                                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://dev.axilthemes.com/themes/etrade/how-to-generate-blog-ideas-are-great-for-businesses-that-sell-both-b2b-and-d2c-2-2/" target="_blank" class="aw-facebook"><i class="fab fa-facebook-f"></i></a>
                                            <a href="https://twitter.com/share?https://dev.axilthemes.com/themes/etrade/how-to-generate-blog-ideas-are-great-for-businesses-that-sell-both-b2b-and-d2c-2-2/&amp;text=How%20to%20generate%20blog%20ideas%20are%20great%20for%20businesses%20that%20sell%20both%20B2B%20and%20D2D" target="_blank" class="aw-twitter"><i class="fab fa-twitter"></i></a>
                                            <a href="http://www.linkedin.com/shareArticle?url=https://dev.axilthemes.com/themes/etrade/how-to-generate-blog-ideas-are-great-for-businesses-that-sell-both-b2b-and-d2c-2-2/&amp;title=How%20to%20generate%20blog%20ideas%20are%20great%20for%20businesses%20that%20sell%20both%20B2B%20and%20D2D" target="_blank" class="aw-linkdin"><i class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div> 

                        <div class=" col-lg-7 axil-post-wrapper"> 
                            <div class="post-heading">   
                            {%- if section.settings.blog_show_title -%}<h1 class="title blog-item-name" itemprop="headline">{{ article.title | escape }}</h1> {%- endif -%}
                            {%- if section.settings.blog_show_author -%}  
                            <div class="axil-post-meta">
                                <div class="post-author-avatar">
                                    <img src="{{ article.user.image | img_url: 'master' }}" alt="{{ article.author }}">
                                </div>
                                <div class="post-meta-content">    
                                    <h6 class="author-title post-author-name"> 
                                        <span class="hover-flip-item"> 
                                            <span itemprop="name">{{ article.author }}</span>
                                        </span> 
                                    </h6>
                                    <ul class="post-meta-list">                    
                                        <li class="post-meta-date">{{ article.published_at | date: "%b, %d , %y" }}</li> 
                                        <li>{{ article.bio }}</li>
                                    </ul> 
                                </div>
                            </div> 
                        {%- endif -%} 
                        </div> 

                        <div class="blog-item-details" itemprop="articleBody" {{ block.shopify_attributes }}>
                            <div class="blog-item-description">{{ article.content }}</div>
                        </div> 

                        {%- if section.settings.show_tags -%}
                            <div class="tag entry-tags">
                                <span>Tags:</span>  
                                {% render 'tags-article' %} 
                            </div> 
						{%- endif -%}  

                        {% if blog.next_article or blog.previous_article %}
                            <!-- Post Navigation Start Here -->
                            <nav class="post-navigation mb--40">
                              <div class="d-flex justify-content-between">
                  
                                <div class="nav-prev">
                  
                                  {% if blog.previous_article %}
                                  <span class="left">
                                    &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
                                  </span>
                                  {% endif %}
                                </div>
                  
                                <div class="nav-next">
                                  {% if blog.next_article %}
                                  <span class="right">
                                    {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
                                  </span>
                                  {% endif %}
                                </div>
                  
                              </div>
                            </nav>
                            <!-- Post Navigation Start Here -->
                            {% endif %}





          {%- if article.comments_enabled? -%}
            {%- assign comment_post_limit = section.settings.comment_post_limit_handle -%}
            {%- paginate article.comments by comment_post_limit -%}
            <!-- Comments Start Here -->
            <div id="comments" class="comments-area">
  
              {%- if comment and comment.created_at -%}
              <p class="note form-success">
                {%- if blog.comments_modareted? -%}
                {{ 'blogs.comments.success_moderated' | t }}            
                {%- else -%}
                {{ 'blogs.comments.success' | t }}
                {%- endif -%}
              </p>
              {%- endif -%}
  
              {%- if article.comments.size > 0 -%}
              {%- render 'blog-comments' -%}
  
              {%- endif -%}
              {%- if paginate.pages > 1 -%}
              <div class="pagination-wrap mb--40">
                {% render 'pagination' %}
              </div>
              {%- endif -%}
              {%- render 'blog-comment-form' -%}
  
  
            </div>
            <!-- Comments Start Here -->
            {%- endpaginate -%}
            {%- endif -%}

          
                   
                            
                    </div>
                    <div class="col-lg-4">
                        Sidebar
                    </div> 

                </div>
            </div>
        </div>
        {%- render 'related-blog-post' -%}
    </div>
</article>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | img_url: "medium" | prepend: 'https:' | json }} 
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "blog_show_author",
            "label": "Is Author",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "blog_show_title",
            "label": "Is Title",
            "default": true
          },
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display Published Date"
        }, 
        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show Tags",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "display_prev_next",
            "label": "Show Prev/Next Product",
            "default": true
          },
          {
          "type": "header",
          "content": "Comment Box"
          },
          {
            "type": "image_picker",
            "id": "commentator_image",
            "label": "Comment Thumb Image",
            "info": "Recommended Size: 80 x 80px"
          },
          {
            "type": "range",
            "id": "comment_post_limit_handle",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "How Many Comment Post Show",
            "default": 5
        },
        {
          "type": "header",
          "content": "Comment Form"
        },
        {
          "type": "textarea",
          "id": "comment_description",
          "label": "Commend Description Bottom",
          "default": "Your email address will not be published. Required fields are marked" 
        },
        {
          "type": "text",
          "id": "text_name_title",
          "label": "Name Label",
          "default": "Name" 
        },
        {
          "type": "text",
          "id": "text_email_title",
          "label": "Email Label",
          "default": "Email" 
        },
        {
          "type": "text",
          "id": "text_area_title",
          "label": "Textarea Label",
          "default": "Your Review" 
        },
		    {
          "type": "header",
          "content": "Blog Social Area"
	     },
        {
          "type": "checkbox",
          "id": "social_enable",
          "label": "Social Enable",
          "default": true
        },
        {
          "type": "header",
          "content": "Releted Blog Post"
        },
        {
          "type": "checkbox",
          "id": "related_post_enable",
          "label": "Show Blog Post",
          "default": true
        },
        {
          "type": "header",
          "content": "Section Heading"
        }, 
        {
          "type": "text",
          "id": "section_before_title",
          "label": "Section Before Title",
          "default": "Your Recently"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Related Posts"
        },
        {
          "type": "range",
          "id": "related_post_limit_handle",
          "min": 1,
          "max": 20,
          "step": 1,
          "label": "Post Limit",
          "default": 6
        },
        {
          "type": "header",
          "content": "Options"
        },
        {
          "type": "checkbox",
          "id": "autoplay_true",
          "label": "Autoplay Enable",
          "default": false
        },
        {
          "type": "range",
          "id": "autoplay_speed",
          "min": 1000,
          "max": 9000,
          "step": 1000,
          "label": "Autoplay Speed",
          "unit": "ms",
          "default": 5000
        },
        {
          "type": "header",
          "content": "Post Carousel Column"
        },
        {
          "type": "range",
          "id": "product_column",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Desktop",
          "default": 4
        },
        {
          "type": "range",
          "id": "product_column_md",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Tablet",
          "default": 2
        },
        {
          "type": "range",
          "id": "product_column_sm",
          "min": 1,
          "max": 12,
          "step": 1,
          "label": "Mobile",
          "default": 1
        },  
        {
            "type": "color",
            "id": "section_title_before",
            "label": "Title before Color",
            "default": "#8c71db"
          },
          {
            "type": "color",
            "id": "section_title_color",
            "label": "Section Title Color",
            "default": "#292930"
          } 
        
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 1
        },
        {
            "type": "article_published_date",
            "name": "Published Date",
            "limit": 1
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]

}
{% endschema %}